html {
  font-family: $serif-font;
  font-size: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
}

a:hover,
a:focus {
  color: $dark_against_shade;
}

a img {
  border: 0;
}

#header {
  > .row {
    height: rem-calc(90);
    margin-left: 0;
    margin-right: 0;
    padding-left: rem-calc(30);
    padding-right: rem-calc(40);
    border-bottom: rem-calc(4) solid $primary-color;
    width: 100%;
    padding-bottom: rem-calc(1);
  }

  .logo {
    float: right;
    height: 75px;
    padding: 0.5rem;
  }
}

#content {
  padding: rem-calc(40);
}

.panel-footer {
  > .row {
    margin: 0 rem-calc(30);
  }
  .footer-items {
    text-align: right;
  }
}

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.top-bar {
  background: $nvBgDefault !important;
  border-top: 1px solid $border-accent;
  border-bottom: rem-calc(1) solid $border-accent;
  float: none !important;
}

.italic {
  font-style: italic;
}

.inherit {
  font-style: italic;
}

/* for the "tabbing" effect */
.tabbing.navbar-default {
  background-color: $white;
  border-color: $white;
}

.more-facets {
  .btn {
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
      border-color: $secondary-color;
      background-color: $lightshade;
      color: $secondary-color;
    }
  }
  .more-facets__facets,
  .more-facets__less {
    display: none;
  }
}

.tabbing.nav-pills > li > a {
  margin-bottom: 0;
  margin-right: 0;
  background-color: $secondary-color;
  color: $white;
  border-radius: 0;
}
.tabbing.nav-pills > li:first-child a {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.tabbing.nav-pills > li:last-child a {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.tabbing.nav-pills > li > a.active {
  background-color: $accent-color;
  color: $white;
}
.tabbing-item li:first-child a {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.tabbing-item li:last-child a {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.tabbing.nav-pills > li.nav-item.disabled > a.nav-link:hover,
.tabbing.nav-pills > li.nav-item.disabled > a.nav-link:focus {
  color: #777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

/* this enables customization of the nav bar. h/t to zessx (http://stackoverflow.com/users/1238019/zessx)
  for the answer at http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3
*/

.navbar-default {
  background-color: $nvBgDefault;
  border-color: $nvBgHighlight;
  .navbar-brand {
    color: $nvColDefault;
    &:hover,
    &:focus {
      color: $nvColHighlight;
    }
  }
  .navbar-text {
    color: $nvColDefault;
  }
  .navbar-nav {
    > li {
      > a.nav-link {
        color: $nvColDefault;
        font-size: 1rem !important;
        &:hover,
        &:focus {
          color: $nvColHighlight;
          text-decoration: underline;
        }
      }
    }
    > .active {
      > a.nav-link,
      > a.nav-link:hover,
      > a.nav-link:focus {
        color: $nvColHighlight;
        background-color: $nvBgHighlight;
        text-decoration: underline;
      }
    }
    > .open {
      > a.nav-link,
      > a.nav-link:hover,
      > a.nav-link:focus {
        color: $nvColHighlight;
        background-color: $nvBgHighlight;
        text-decoration: underline;
      }
    }
  }
  .navbar-toggle {
    border-color: $nvBgHighlight;
    &:hover,
    &:focus {
      background-color: $nvBgHighlight;
    }
    .icon-bar {
      background-color: $nvColDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $nvColDefault;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $nvColDefault;
      &:hover,
      &:focus {
        color: $nvColHighlight;
        text-decoration: underline;
      }
    }
    > .active {
      > a,
      > a:hover,
      > a:focus {
        color: $nvColHighlight;
        background-color: $nvBgHighlight;
        text-decoration: underline;
      }
    }
  }
}

#welcome {
  padding-left: rem-calc(60);
  padding-right: rem-calc(130);
  padding-top: rem-calc(30);

  .row {
    width: $row-width;

    .small-12 {
      border: 1px solid $border;
    }
  }
}

#container {
  padding-left: rem-calc(60);
  padding-right: rem-calc(60);

  .row {
    width: $row-width;
  }
}

#main-content {
  &.small-8 {
    padding-right: rem-calc(20);
  }
}

#sidebar {
  border: 1px solid $border;
  padding: rem-calc(10);
}

#whats-in-container {
  border: 1px solid $border;
  > h3 {
    margin-top: 0;
    margin-left: rem-calc(-20);
    background-color: $row-background;
    color: $secondary-color;
    border-bottom: 1px solid $border-accent;
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    padding-left: rem-calc(10);
  }
}

.badge-and-identifier {
  .identifier {
    margin-left: rem-calc(10);
    padding: rem-calc(4);
  }
}

#lead_graph {
  padding: rem-calc(20);
  font-size: 1rem;
}

.record-container {
  margin-top: rem-calc(20);

  &.concepts-layout {
    > .row {
      margin-left: 0;
    }
  }
}

.record-container.with-border {
  padding: rem-calc(20);
  border: 1px solid $border;
}

.record-header {
  word-wrap: break-word;
}

.record-toolbar {
  ul {
    display: table;
    width: 100%;
  }

  li {
    display: table-cell;
    width: 25%;
    text-align: center;

    a {
      padding: 0 !important;
    }
  }

  i {
    font-size: 2rem;
  }
}

.identifier {
  float: left;

  .id-label {
    float: left;
    font-family: $serif-font;
    font-weight: bold;
  }
}

.dates-is-single-date {
  list-style-type: none;
  padding: 0;
}

.record-image {
  float: right;
  padding: rem-calc(20);
  background-color: $image-background;
  text-align: center;

  p {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .image-container {
    width: rem-calc(300);
    height: rem-calc(280);
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.row.context-row {
  margin-top: rem-calc(10);
  background-color: $row-background;
  border: 1px solid $border;
  padding-left: rem-calc(10);
}

.recordrow {
  padding: rem-calc(10);
  border: 1px solid $border;
  border-radius: var(--bootstrap-rounded-border-radius);
  margin-bottom: 1rem;

  &.featured {
    background-color: $row-background;
  }

  h3 {
    color: $darkest;
    margin-top: 0;
    margin-bottom: 0;
  }

  .recordsummary {
    clear: both;
  }
}

#embedded-search-container {
  .recordrow:first-child {
    margin-top: rem-calc(10);
  }
}

a {
  color: $secondary-color;
}

a:hover {
  text-decoration: underline;
}

h1,
.h1 {
  font-family: $sans-font;
  font-size: rem-calc(30);
  font-weight: bold;
  color: $primary-color;
}

h1,
.h1 {
  font-size: rem-calc(24);
}

/* we want to shrink the font size of h1 in smaller sizes */

h1,
.h1 {
  @include media-breakpoint-down(sm) {
    font-size: rem-calc(22);
  }
}

h2,
.h2 {
  font-family: $sans-font;
  font-size: rem-calc(24);
  font-weight: bold;
  color: $primary-color;
}

h3,
.h3 {
  font-family: $sans-font;
  font-size: rem-calc(20);
  font-weight: bold;
  color: $secondary-color;
}

h4,
.h4 {
  font-size: rem-calc(18);
  font-family: $serif-font;
}

h4.restricted {
  color: #f00;
}

h5,
.h5 {
  font-weight: bold;
}

.valign-middle {
  display: table;

  > .columns {
    display: table-cell;
    vertical-align: middle;
  }

  > .columns,
  > [class*='column'] + [class*='column']:last-child {
    float: none;
  }
}

.navbar-toggler {
  border: 0;
}

.spacer {
  padding-top: 3em;
}
.first-row {
  margin-top: 1em;
}

.search_row * .form-control {
  margin-right: 0.3rem;
}
.search_row .fill-column {
  width: 100%;
}
.searchterm,
.keywordscontext li em {
  font-weight: bold;
  padding: 0 0.2em;
  background-color: #d5f7e9;
}
.searchterm {
  background-color: $highlight;
}
#submit_search {
  width: 100%;
  font-size: 16px;
  background-color: #006f9b;
}
.searchstatement {
  background-color: $row-background;
}

.facets h2 {
  font-size: 2em;
}
.facets h3 {
  font-size: 1.2em;
  border-bottom: 1px solid;
}
.facets h4 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.facets p {
  font-size: 0.9em;
}
.facets li {
  width: 100%;
  border-bottom: 1px solid;
}
ul.no-bullets {
  list-style-type: none;
}

.facet-group {
  list-style-type: none !important;
  margin-left: 0;

  li {
    border-top: 1px solid $border;
  }

  li:last-child {
    border-bottom: 1px solid $border;
  }

  li > a {
    margin-left: rem-calc(10);
  }

  li > .recordnumber {
    float: right;
    color: $secondary-color;

    /* position: absolute; */

    /* right: 20px; */
  }
}

.definition {
  font-size: 0.7em;
  float: right;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

/* search results */
.result_context {
  padding-top: 1em;
  strong {
    padding-right: 0.5em;
  }
}

.recordtype {
  margin-top: -0.75em;
}
.object {
  color: $collection-color;
}
.collection,
.resource {
  color: $collection-color;
}
button.subject {
  /* class subject also turns up in finding aid transforms */
  color: $subject-color;
}
.agent {
  color: $agent-color;
}

.person {
  color: $agent-color;
}
.record {
  color: $record-color;
}
.classification {
  color: $repository-color;
}

.page_action {
  color: $darkest;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  border: 1px solid $light-neutral;
}
.page_action:hover,
.page_action:focus {
  color: $accent_color;
  background-color: $light-neutral;
}

.top_container {
  color: $container-color;
}
.folder {
  color: $folder-color;
}
.recordtype.repository {
  color: $repository-color;
}
.recordtype.classification {
  color: $classification-color;
}
.digitized {
  float: right;
  text-align: center;
  color: #999;
}
.grid-item {
  text-align: center;
}
.smallnote {
  color: #999;
  font-style: italic;
}
.subnote {
  margin-top: 10px;
  padding-left: 5px;
}

.note_outline ul {
  list-style: disc;
}

.note_orderedlist {
  .enumeration-arabic ol {
    list-style: decimal;
  }
  .enumeration-loweralpha ol {
    list-style: lower-alpha;
  }
  .enumeration-lowerroman ol {
    list-style: lower-roman;
  }
  .enumeration-null ol {
    list-style: disc;
  }
  .enumeration-upperalpha ol {
    list-style: upper-alpha;
  }
  .enumeration-upperroman ol {
    list-style: upper-roman;
  }
}

.recordrow {
  .classification-subgroups {
    margin-top: 5px;

    .classification-subgroups-tree.largetree-container {
      max-height: 200px;
      overflow: auto;
    }
  }
}

.repository-logo {
  float: right;
  img {
    max-width: 400px;
    max-height: 120px;
  }
}
.recordrow {
  .repository-logo {
    img {
      max-width: 200px;
      max-height: 60px;
    }
  }
}

/* / search results */

/* hierarchy tree */

.tree li {
  margin-left: -2rem;
  padding-bottom: 0.5rem;
  display: block;
}

/*  THIS CAME FROM BRIAN */
.contentsarrangement ul {
  margin-left: 2em;
}
.recordchildren li i.fi-plus,
.recordchildren li i.fi-minus {
  margin-left: -2em;
}
.recordchildren li .treeitemdesc {
  color: #999;
  font-style: italic;
  margin-left: 0.5em;
}
.contentsarrangement li.panel {
  margin-left: -1.25em;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* END OF CAME FROM BRIAN */

.panel-footer {
  margin-top: 2em;
}

/* /hierarchy tree */

/* icon sizes */
i.small {
  font-size: 1.2em;
}
i.medium {
  font-size: 3em;
  line-height: 0em;
}
i.large {
  font-size: 5em;
}
i.giant {
  font-size: 8em;
  line-height: 0em;
}
.attention {
  color: green;
}

/* record details */
.available-digital-objects {
  float: right;
  max-width: 40%;
}

.objectimage {
  max-width: 100%;
  display: block;
  margin: 0 0 1em 1em;
}
.objectimage img,
.additional-file-version img {
  margin: 0 auto;
  display: block;
  min-width: 200px;
  max-width: 100%;
}
.objectimage figcaption,
.additional-file-version figcaption {
  padding: 0.5rem;
}
.objectimage button[type='submit'] {
  width: 100%;
  white-space: normal;
}

@media (min-width: 500px) {
  .additional-file-version {
    display: block;
    max-width: 500px;
  }
}
.additional-file-version + .additional-file-version {
  margin-top: 1rem !important;
}

.record-type-badge.digital_object.external-digital-object__link {
  width: 100%;
  padding: 0 !important;
  color: $lightblue;
  text-decoration: none;
}

.external-digital-object__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: var(--bootstrap-horizontal-white-space-unit);
  border: 1px solid $lightblue;
  border-radius: var(--bootstrap-rounded-border-radius);
  background-color: #fff;
  text-align: center;
}
.external-digital-object__link:hover
  .external-digital-object__content-container {
  background-color: var(--bootstrap-default-white-hover);
}

.external-digital-object__content-btn {
  /* bootstrap's .btn */
  display: block;
  margin-bottom: 0;
  padding: 6px 12px;
  border: 1px solid $lightblue;
  border-radius: var(--bootstrap-rounded-border-radius);
  font-size: 14px;
  font-family: var(--bootstrap-sans);
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  background-color: $lightblue;
}
.external-digital-object__link:hover .external-digital-object__content-btn {
  background-color: $midblue;
  border-color: $midblue;
}

span.component {
  font-weight: bold;
}

span.title {
  font-style: italic;
  font-variant: small-caps;
}

span.required {
  font-variant: small-caps;
  color: darken($warning, 60%);
}
.keywordscontext {
  .content {
    padding-left: rem-calc(20);
    display: none;
  }
}

.inline-label {
  font-weight: bold;
  font-family: $serif-font;
}

.clear {
  clear: both;
}

span.head {
  display: block;
  font-weight: bold;
  font-family: $serif-font;
}

.breadcrumb > li + li::before {
  padding-left: 0.625rem;
  color: $darkest;
  content: '\007C\00a0';
}
.breadcrumb * a {
  color: $breadcrumb-link;
}
.breadcrumb li br {
  display: none;
}
.panel .breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
}

.acc_holder {
  margin-top: rem-calc(20);
}

#main .acc_button {
  margin-bottom: 0.5rem;
}

#sidebar .acc_button {
  display: none;
}

#sidebar .present_list {
  padding-left: 20px;
}

.panel-heading {
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.tab-pane,
.page-actions {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.badge-and-identifier {
  overflow: auto;
}

.has_digital_instance {
  margin-right: 0.5rem;
}

@media (min-width: 992px) {
  #sidebar.resizable-sidebar {
    position: relative;
    padding-left: 18px; // padding-right (10) + handle width (8)

    &.resizable-sidebar-left {
      padding-left: 0.625rem;
      padding-right: 18px;

      .resizable-sidebar-handle {
        left: unset;
        right: 0;
        border-right: none;
        border-left: 1px solid #ccc;
      }
    }

    .resizable-sidebar-handle {
      background-color: #eee;
      position: absolute;
      height: 100%;
      width: 8px;
      top: 0;
      left: 0;
      cursor: ew-resize;
      background-image: asset-url('sidebar_drag_handle.png');
      background-repeat: no-repeat;
      background-position: 1px center;
      border-right: 1px solid #ccc;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    .resizable-sidebar-handle::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
    }

    .resizable-sidebar-handle::-moz-range-thumb {
      -moz-appearance: none;
      appearance: none;
      background: none;
      border: none;
    }
  }
}

@media (max-width: 991px) {
  .row.has-resizable-content {
    > .col-sm-9,
    > .resizable-sidebar {
      width: inherit !important;
    }
  }
}

.skipnav a:focus {
  position: absolute;
}

// Specific styling for Finding Aid Information to override label truncation.
.dl-horizontal-fa {
  @media (min-width: 768px) {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;

    dt {
      float: left;
      clear: left;
      text-align: right;
      flex: 0 0 20%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    dd {
      flex: 0 0 75%;
      margin-left: auto;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

// Do not show this to the user
.honeypot {
  position: absolute;
  left: -9999px;
}

#language_select {
  text-align: right;
}

// Bootstrap 4+ uses flex for its col classes. This overrides the flex behaviors in the public app wherever there is a resizable sidebar to enable custom JS
.row.has-resizable-content {
  flex-wrap: nowrap;
  .col-sm-3.resizable-sidebar {
    flex: unset;
    max-width: unset;
  }
  .resizable-sidebar {
    width: 25%;
  }
  .resizable-content-pane {
    width: 100%;
    @media (min-width: 992px) {
      flex: 1;
    }
  }
}

@media (min-width: 992px) {
  #sidebar.resizable-sidebar {
    &.resizable-sidebar-left {
      .resizable-sidebar-handle {
        left: unset;
        right: 0;
      }
    }
    .resizable-sidebar-handle {
      background-color: #eee;
      position: absolute;
      height: 100%;
      width: 8px;
      top: 0;
      left: 0;
      cursor: ew-resize;
      background-image: asset-url('sidebar_drag_handle.png');
      background-repeat: no-repeat;
      background-position: 1px center;
      border-right: 1px solid #ccc;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    .resizable-sidebar-handle::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
    }

    .resizable-sidebar-handle::-moz-range-thumb {
      -moz-appearance: none;
      appearance: none;
      background: none;
      border: none;
    }
  }
}
