/* colors and icons for your institution */

$black: #000;
$darkest: #00171f;
$white: #fff;
$darkblue: #041c2f;
$midblue: #006e99;
$lightblue: #007cad;
$darkshade: #888;
$shade: #ccc;
$lightshade: #eee;
$highlight: #f7d309;
$dark_against_shade: #004f6f; /* for contrast against lightshade */

/* this is where you can change colors for your institution */

$primary-color: $lightblue;
$secondary-color: $midblue;
$accent-color: $darkblue;
$border-accent: $darkblue;
$border: $shade;
$image-background: $shade;
$row-background: $lightshade;
$button-background: $lightblue;
$alt-button-background: $lightshade;
$alt-button-color: $darkshade;
$light-neutral: $lightshade;
$breadcrumb-link: $darkblue;

/* this is for the top horizontal nav bar */
$nvBgDefault: $light-neutral;
$nvBgHighlight: $light-neutral;
$nvColDefault: $dark_against_shade;
$nvColHighlight: $border-accent;

$collection-color: #e01919;
$subject-color: #941c9a;
$container-color: #0b5a14;
$agent-color: #3b52ff;
$record-color: #0b5a14;
$repository-color: #7608b5;
$classification-color: #015189;
$accession-color: $collection-color;
$digital-object-color: $collection-color;
$archival-object-color: #457141;
$folder-color: #009fcf;
