/**
 * Atomic/functional/utility classes, add as needed
 */
:root {
  --bootstrap-horizontal-white-space-unit: 15px;
  --bootstrap-rounded-corner-radius: 4px;
  --bootstrap-sans: 'Helvetica Neue', helvetica, arial, sans-serif;
  --bootstrap-default-white-hover: #eee;
  --bootstrap-default-card-heading-bg-color: #f5f5f5;
  --default-border-color: #ccc;
}

.flex {
  display: flex;
}

.items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.mt15px {
  margin-top: var(--bootstrap-horizontal-white-space-unit);
}

.mr15px {
  margin-right: var(--bootstrap-horizontal-white-space-unit);
}

.mb0 {
  margin-bottom: 0;
}

.pb1 {
  padding-bottom: 0.5rem;
}

.rounded-bottom {
  border-bottom-left-radius: var(--bootstrap-rounded-corner-radius);
  border-bottom-right-radius: var(--bootstrap-rounded-corner-radius);
}

.bg-lightgray {
  background-color: var(--bootstrap-default-card-heading-bg-color);
}
