.infinite-record-wrapper {
    height: 600px;
    overflow: hidden;
}

.infinite-record-container {
    width: 100%;
    overflow: hidden;
    will-change: transform;

    .waypoint {
        height: 1em;
    }

    .waypoint.populated {
        height: auto;
    }

}

.infinite-record-scrollbar {
    overflow: scroll;
    position: absolute;
    width: 15px;
}

.infinite-tree-view {
    height: 600px;

    padding: 1em;

    .resource-level,
    .resource-type, 
    .resource-container {
        display: none;
    }
}

@media (max-width: 991px) {
    .infinite-tree-sidebar {
        display: none;
    }
}

$indent-width: 20px;
.infinite-record-record {
    background-image: repeating-linear-gradient(90deg, transparent, transparent ($indent-width - 1), #EEE $indent-width);
}
.infinite-item {
    background-color: #FFF;

    @for $i from 2 through 12 {
        &.infinite-item-indent-#{$i} {
            margin-left: $indent-width * ($i - 1);
            padding-left: $indent-width;
        }
    }
    h3 {
        margin-top: 0;
    }

    dl.dl-horizontal {
        margin-top: 5px;
        margin-bottom: 0;
        padding-bottom: 10px;

        dt {
            text-align: left;
            padding-left: 3px;
            white-space: normal;
            margin-bottom: 5px;
            line-height: 1.2em;
        }
        dd {
            line-height: 1.2em;
        }
    }
}

.waypoint:last-child {
    .infinite-record-record:last-child {
        &:after {
            content: '';
            border-bottom: 5px solid #CCC;
            width: 90%;
            left: 5%;
            display: block;
            padding-top: 40px;
            background: #FFF;
            position: absolute;
        }
    }
}