.record-type-badge {
  padding: rem-calc(4);
  font-family: $serif-font;
  font-weight: bold;
  i {
    margin-right: rem-calc(2);
  }
}

.badge-and-identifier {
  .record-type-badge {
    float: left;
  }
}

@each $type in $record-type-badge-types {
  .record-type-badge.#{$type} {
    @include record-type-color-props(record-type-color($type));
  }
}
