@mixin record-type-badge-colored($color) {
  color: $color;
  border-color: $color;
}

.record-type-badge {
  padding: rem-calc(4);
  font-family: $serif-font;
  font-weight: bold;
  i {
    margin-right: rem-calc(2);
  }
}

.badge-and-identifier {
  .record-type-badge {
    float: left;
  }
}

.record-type-badge.resource {
  @include record-type-badge-colored($collection-color);
}

.record-type-badge.archival_object {
  @include record-type-badge-colored($archival-object-color);
}

.record-type-badge.agent {
  @include record-type-badge-colored($agent-color);
}

.record-type-badge.accession {
  @include record-type-badge-colored($accession-color);
}

.record-type-badge.classification {
  @include record-type-badge-colored($classification-color);
}

.record-type-badge.digital_object {
  @include record-type-badge-colored($digital-object-color);
}

.record-type-badge.repository {
  @include record-type-badge-colored($repository-color);
}

.record-type-badge.subject {
  @include record-type-badge-colored($subject-color);
}
