$sans-font: 'PT Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
$serif-font: 'Roboto Slab', serif;
$font-family-serif: $serif-font;

$text-color: #00171f; // Bootstrap Sass override
$input-color-placeholder: #767676; // Bootstrap Sass override

$fi-path: 'foundation-icon-fonts';

$row-width: 100%;
