$theme-colors: (
  'primary': #3a87ad,
);

$sans-font: 'PT Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
$serif-font: 'Roboto Slab', serif;
$font-family-serif: $serif-font;

$text-color: $darkest;
$input-color-placeholder: #767676;

$fi-path: 'foundation-icon-fonts';

$row-width: 100%;
