<div class="btn-group ml-auto custom-action">
  <button class="btn btn-sm btn-default" data-langmaterial-type="language_and_script"><%= t("lang_material._frontend.action.add") %></button>
  <button class="btn btn-sm btn-default" data-langmaterial-type="language_note"><%= t("lang_material._frontend.action.add_note") %></button>
</div>
