<% if user_can?('update_digital_object_record') %>

  <% unless content_for?(:exports) %>
    <% content_for :exports do %>
      <li><%= link_to I18n.t("actions.export_mods"), {:controller => :exports, :action => :download_mods, :id => @digital_object.id} %></li>
      <li><%= link_to I18n.t("actions.export_mets"), {:controller => :exports, :action => :download_mets, :id => @digital_object.id} %></li>
      <li><%= link_to I18n.t("actions.export_dc"), {:controller => :exports, :action => :download_dc, :id => @digital_object.id} %></li>
    <% end %>
  <% end %>

  <%= render_aspace_partial(:partial => '/shared/resource_toolbar',
             :locals => {
              :record_type => 'digital_object',
              :record => @digital_object,
             })
  %>
<% end %>
