<% set_title "Digital Objects | #{@digital_object.title}" %>

<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Digital Objects", :controller => :digital_objects, :action => :index), @digital_object.title]} %>
<div class="row-fluid">
  <div class="span12">
    <%= render :partial => "shared/tree", :locals => {:read_only => true} %>
  </div>
</div>

<div id="object_container"></div>