<div class="information" style="overflow: hidden;">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
</div>

<%= render partial: 'shared/record_innards' %>
