$baseFontSize: 13px;

body {
  background: #e9e9e9 asset-url('themes/default/bg_body.png') repeat top left;
}

.content-pane {
  background-color: #f9f9f9;
  @include border-radius(4px);

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.breadcrumb {
  @include vertical(#e9e9e9, #f1f1f1);
}

.record-pane {
  /* box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2) inset; */
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
  background-color: white;

  /* *margin-left: ($fluidGridGutterWidth - (.5 / $gridRowWidth * 100 * 1%)) / 2; */

  /* *padding-left: 0 ($fluidGridGutterWidth - (.5 / $gridRowWidth * 100 * 1%)) / 2; */
}

.navbar {
  .navbar-brand {
    display: none;
  }
}

.footer {
  padding: 20px;
  text-align: right;
}

.footer a {
  color: #333;
  text-shadow: 1px 1px 2px white;
}

.badge {
  background-color: #1b647f;
  color: white;
}

// Bootstrap badge styles are overriden due to ../../archivesspace.scss,
// so copy .btn-* styles instead of reordering imports for quick fix
.badge-danger {
  color: #fff;
  background-color: #9d261d;
}
.badge-success {
  color: #fff;
  background-color: #398439;
}
.badge-warning {
  color: #212529;
  background-color: #ffc40d;
}

.sidebar .badge {
  border-radius: 20px;
}

@media print {
  a[href]::after {
    display: none;
  }
  .pagination {
    display: none;
  }
}
