<p>Dear user,<br />
We received a request to reset your password for ArchivesSpace. Please click the link below to create your new password (or copy and paste the web site address in a new browser window).</p>
<p>
<a href="<%= @magic_link %>"><%= @magic_link %></a>
</p>
<p>
For security reasons, this link expires in thirty minutes. It can only be used once. Do not click on the link multiple times.
Please contact your system administrator if you need further assistance.
</p>
