upstream <tenantname>staff {
    server apps1:8080;
    server apps2:8080;
}

upstream <tenantname>public {
    server apps1:8081;
    server apps2:8081;
}


server {
    listen       80;
    server_name  <tenant staff hostname>;

    location / {
        proxy_set_header Host $host;
        proxy_pass http://<tenantname>staff;
    }

    include /aspace/nginx/conf/common/server.conf;
}

server {
    listen       80;
    server_name  <tenant public hostname>;

    location / {
        proxy_set_header Host $host;
        proxy_pass http://<tenantname>public;
    }

    include /aspace/nginx/conf/common/server.conf;
}
