<div class="record-toolbar">
  <div class="btn-group pull-left">
    <div class="pull-left save-changes">
      <button type="submit" class="btn btn-primary btn-sm"><%= I18n.t("actions.save_prefix") %></button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
