{
  "root": true,
  "env": {
    "browser": true,
    "es2022": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 13,
  },
  "extends": ["eslint:recommended", "prettier"],
  "globals": {
    "AS": "writable",
    "CodeMirror": "readonly"
  },
  "rules": {
    "no-undef": "warn",
    "no-unused-vars": "warn"
  }
}
