build/*.jar
*.war
build/gems
derby.log
frontend/doc
backend/doc
doc
config/config.rb
*.swp
.idea
/lib
coverage
selenium/webdriver-profile*
/archivesspace.jar
/archivesspace.zip
build/target
build/solr
build/solr_index
build/indexer_state
build/archivesspace_demo_db
build/*.tmp
build/.gem
backend/tests/ladle-server*
/migrations/examples/csv/accessions-sample.csv
