.DS_Store
_site
build/*.jar
build/solr_backups/*
*.war
build/gems
derby.log
frontend/doc
backend/doc
config/config.rb
*.swp
*.out
.idea
/lib
coverage
selenium/webdriver-profile*
/archivesspace.jar
/archivesspace*.zip
build/target
build/solr
build/solr_home/
build/solr_index
build/indexer_state
build/indexer_pui_state
build/archivesspace_demo_db
build/*.tmp
build/.gem
build/shared
build/.cache
backend/tests/ladle-server*
webdriver-profile*
common/ARCHIVESSPACE_VERSION
common/asconstants.rb
.yardoc
API.md
endpoint_examples*
build/demo_db_backups
*.jasper
.bundle
*/node_modules
locales.diff
*/bower_components
Gemfile.local
supervisord.*
mysql-connector*.jar
common/config/config.rb
backend/default
frontend/default
indexer/default
public/default
tech_docs
solr/lib/*.jar
plugins/*/Gemfile.lock
plugins/*/gems/*
docker-compose.override.yml
