*.jar
*.war
build/gems
derby.log
frontend/doc
backend/doc
doc
config/config.rb
*.swp
.idea
/lib
coverage
selenium/webdriver-profile*
/archivesspace.jar
build/target
build/solr
build/*.tmp
backend/tests/ladle-server*
/migrations/examples/csv/accessions-sample.csv
