--markup-provider=kramdown
--markup=markdown
--exclude build/gems
--exclude build/target
--output-dir docs/doc
--legacy
-e ./_yard/yard-aspace.rb
'*.rb'
'**/spec/*_spec.rb'
'backend/app/*.rb'
'backend/app/controllers/*.rb'
'backend/app/**/*.rb'
'frontend/app/**/*.rb'
'common/*.rb'
'common/db/*.rb'
'common/schemas/*.rb'
-
README.md
README_PREFIX.md
README_SOLR.md
README_TOMCAT.md
reports/REPORTS_README.md
selenium/SELENIUM_README.md
selenium-public/SELENIUM_PUBLIC_README.md
stylesheets/STYLESHEETS_README.md
UPGRADING_1.1.0.md
UPGRADING_1.1.1.md
API.md
ARCHITECTURE.md
README_TOMCAT.md
UPGRADING.md
clustering/CLUSTERING_README.md
common/locales/LOCALES_README.md
contributing/CONTRIBUTING_README.md
frontend/config/locales/FRONTEND_LOCALES_README.md
jmeter/JMETER_README.md
launcher/ead_export/REPO_EAD_EXPORT_README.md
plugins/local/PLUGINS_LOCAL_README.md
plugins/newrelic/README_NEWRELIC.md
plugins/PLUGINS_README.md
public/config/locales/PUBLIC_LOCALES_README.md
README_HTTPS.md
build/BUILD_README.md
