--markup-provider=kramdown
--markup=markdown
--exclude build/gems
--exclude build/target
--legacy
-e ./_yard/yard-aspace.rb
'*.rb'
'**/spec/*_spec.rb'
'backend/app/*.rb'
'backend/app/controllers/*.rb'
'backend/app/**/*.rb'
'frontend/app/**/*.rb'
'common/*.rb'
'common/db/*.rb'
'common/schemas/*.rb'
-
README.md
README_HTTPS.md
README_PREFIX.md
README_SOLR.md
README_TOMCAT.md
reports/README.md
selenium/README.md
selenium-public/README.md
stylesheets/README.md
UPGRADING_1.1.0.md
UPGRADING_1.1.1.md
API.md
ARCHITECTURE.md
README_TOMCAT.md
UPGRADING.md
clustering/README.md
common/locales/README.md
contributing/README.md
frontend/config/locales/README.md
jmeter/README.md
launcher/ead_export/README.md
plugins/local/README.md
plugins/newrelic/README_NEWRELIC.md
plugins/README.md
plugins/refid_rules/README.md
public/config/locales/README.md
build/README.md
