<div class="alert alert-danger">
  <p><%= @message %></p>
  <p><%= I18n.t("navbar.login_expired_link", :link => link_to(I18n.t("navbar.login"), :controller => :welcome, :action => :index, :login => true)).html_safe %></p>
</div>
