<% if not inline? %>
  <%= setup_context :title => t("errors.error_403") %>
<% end %>

<div class="d-flex justify-content-center">
  <div class="alert alert-danger">
    <h2><%= t("errors.error_403") %></h2>
    <p><%= t("errors.error_403_message") %></p>
    <% if session[:user].nil? %>
      <p><%= t("login.login_expired_link", :link => url_for(:controller => :welcome, :action => :index, :login => true)).html_safe %></p>
    <% end %>
  </div>
</div>
