<% if not inline? %>
  <%= setup_context :title => I18n.t("errors.error_403") %>
<% end %>

<div class="alert alert-danger">
  <h2><%= I18n.t("errors.error_403") %></h2>
  <p><%= I18n.t("errors.error_403_message") %></p>
  <% if session[:user].nil? %>
    <p><%= I18n.t("login.login_expired_link", :link => link_to(I18n.t("login.login"), :controller => :welcome, :action => :index, :login => true)).html_safe %></p>
  <% end %>
</div>
