<%
  @term_map ||= {}
  set_title_for_search
%>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
      <%= render_aspace_partial :partial => "search/components_switch" %>
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
    <div class="span9">
      <div class="record-pane">
        <%= render_aspace_partial :partial => "inline_results", :locals => {:search_data => @search_data} %>
      </div>
    </div>
  </div>
</div>
