<%
  @term_map ||= {}
  set_title_for_search
%>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
      <%= render :partial => "search/components_switch", :formats => [:html], :handlers => [:erb] %>
      <%= render :partial => "search/filter", :formats => [:html], :handlers => [:erb] %>
    </div>
    <div class="span9">
      <div class="record-pane">
        <%= render :partial => "inline_results", :formats => [:html], :handlers => [:erb], :locals => {:search_data => @search_data} %>
      </div>
    </div>
  </div>
</div>
