<% define_template "linked_record" do |form| %>
  <div class="subrecord-form-fields">
    <%= render :partial => "collection_management_records/record_linker", :locals => {:form => form} %>
  </div>
<% end %>
