<%
   if form.obj['ref'].blank?
     selected_json = "{}"
   elsif  form.obj['resolved']['ref'].is_a?(String)
     selected_json =  JSON(form.obj['resolved']['ref']).to_json
   else
     selected_json =  form.obj['resolved']['ref'].to_json
   end
%>
<div class="control-group">
  <label class="control-label">Record</label>
  <div class="controls">
    <div class="linker-wrapper">
      <input type="text" class="linker"
             data-object_class="<%= form.obj["jsonmodel_type"] %>"
             data-controller="events"
             data-label="Records"
             data-label_plural="Records"
             data-name="ref"
             data-path="<%= form.path %>"
             data-url="<%= url_for :controller => :events, :action => :listrecords, :format => :json %>"
             data-selected='<%= selected_json %>'
             data-multiplicity="one"
             data-format_template="title"
      />
    </div>
  </div>
</div>
