<ul>
  <% digital_objects.each do |uri, digital_object| %>
    <li>
      <%= render partial: 'shared/mixed_content_link', locals: { :content => digital_object.display_string, :uri => uri } %>
    </li>
  <% end %>
</ul>
