<% active = (action.to_s == controller.action_name) %>
<% unless hidden && !active %>
  <li class="<%= enabled ? 'nav-item' : 'nav-item disabled' %>">
  	<% case action
  		 when :show
         url = app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}")
  		 when :infinite
         url = app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}/collection_organization")
  		 when :inventory
         url = app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}/inventory")
  		 when :digitized
         url = app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}/digitized")
  		 end
  	%>

    <%=
      link_to_unless active || !enabled, text, url, :class => "nav-link"  do
        link_to_if active, text, '#', :class => "active nav-link", :'aria-current' => 'page' do
          link_to text, "#", :class => "nav-link"
        end
      end
    %>
  </li>
<% end %>
