<div class="row" id="tabs">
  <div class="col-sm-9 text-center tabbing navbar navbar-default">
    <ul class="tabbing nav nav-pills">
      <%= render partial: 'resources/resource_tab', locals: {:action => :show, :text => t('actions.collection_overview'),
                                                             :enabled => true, :hidden => false } %>
      <%= render partial: 'resources/resource_tab', locals: {:action => :infinite, :text => t('actions.hierarch'),
                                                             :enabled => @has_children, :hidden => false } %>
      <%= render partial: 'resources/resource_tab', locals: {:action => :inventory, :text => t('actions.numeric'),
                                                             :enabled => @has_containers, :hidden => AppConfig[:pui_hide][:container_inventory] } %>
      <%= render partial: 'resources/resource_tab', locals: {:action => :digitized, :text => t('actions.digitized'),
                                                             :enabled => @has_digital_objects, :hidden => !@has_digital_objects } %>
    </ul>
  </div>
</div>
