<% define_template("hello_world", jsonmodel_definition(:hello_world)) do |form| %>
  <div class="subrecord-form-fields">
      <%= form.label_and_textfield("who", :plugin => true) %>
  </div>
<% end %>
