<%= render_aspace_partial :partial => "extent_calculator/show_calculation_template", :locals => {:record => record} %>
<a href="javascript:void(0);" class="extent-calculator-btn"><%= I18n.t("extent_calculator.calculate_extent") %></a>

