<%= render_aspace_partial :partial => "extent_calculator/show_calculation_template", :locals => {:record => record} %>
<button type="button" class="btn rounded-0 dropdown-item extent-calculator-btn"><%= t("extent_calculator.calculate_extent") %></button>
