<%
   note_types = {}

   [:note_multipart, :note_singlepart].each do |schema|
     JSONModel(schema).schema['properties']['type']['enum'].each do |type|
       note_types[type] = schema
     end
   end

   note_types["Index"] = :note_index
   note_types["Bibliography"] = :note_bibliography
%>

<section id="notes" class="subrecord-form">
  <h3 class="subrecord-form-heading">Notes
    <div class="btn-group pull-right">
      <button class="btn btn-small  dropdown-toggle" data-toggle="dropdown">Add Note <span class="caret"></span></button>
      <ul class="dropdown-menu subrecord-selector">
        <li>
          <select>
            <% note_types.keys.sort.each do |type| %>
              <option value="<%= note_types[type] %>"><%= type %></option>
            <% end %>
          </select>
        </li>
        <li class="form-actions">
          <button class="btn btn-small add-note-for-type-btn">Add Node For Type</button>
        </li>
      </ul>
    </div>
  </h3>
  <div class="notes-container subrecord-form-container"></div>
</section>

<%= render :partial=>"notes/templates", :locals=>{:f => f} %>