<div id="main-content" class="row">

  <div class="information col-sm-12">

<%= render partial: 'shared/result', locals: {:result => @result,  :props =>{:full => true}} %>
<div class="scope more"><%= get_note(@result['json'], 'scopecontent').html_safe %></div>
</div>
