<%= render_aspace_partial :partial => "shared/flash_messages" %>

<div id="topContainerBrowseContainer">
  <%= render_aspace_partial :partial => "top_containers/bulk_operations/search_criteria", :locals => {:form_target => {:controller => :top_containers, :action => :bulk_operations_browse}} %>
  <% unless results.nil? %>
    <%= render_aspace_partial :partial => "top_containers/bulk_operations/results", :locals => {:results => results, :multiselect => false, :show_edit_actions => false} %>
  <% end %>
</div>

<script>
  $(document).trigger("loadedrecordform.aspace", [$("#topContainerBrowseContainer")]);
  $(function() {
        $(".linker:not(.initialised)", $("#topContainerBrowseContainer")).linker();
  });
</script>
