<div class="modal-body">
  <div class="alert alert-success"><%= I18n.t("top_container._frontend.messages.bulk_action_success") %></div>
  <p><strong><%= I18n.t("top_container._frontend.messages.bulk_action_success_info") %></strong></p>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal"><%= I18n.t("actions.continue") %></button>
</div>