<div class="modal-body">
  <div class="alert alert-success"><%= t("top_container._frontend.messages.bulk_action_success") %></div>
  <p><strong><%= t("top_container._frontend.messages.bulk_action_success_info") %></strong></p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal"><%= t("actions.continue") %></button>
</div>
