<% if exceptions.is_a?(Hash) && exceptions.has_key?("error") %>
  <div class="alert alert-danger" data-uri="<%= exceptions["uri"] %>">
    <% exceptions["error"].each do |attr, messages| %>
      <div class="errors-for-attribute">
        <% messages.each do |msg| %>
          <div class="error">
            <%= t("#{jsonmodel}.#{attr}") %> - <%= msg %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-danger"">
    <%= exceptions.to_s %>
  </div>
<% end %>
