<% (1..5).each do |rating_value| %>
    <div>
        <label for="rating_value_<%= rating_value %>">
            <input id="rating_value_<%= rating_value %>" type="checkbox" name="job[job_params][value_<%= rating_value %>]">&nbsp;<%= rating_value %>
        </label>
    </div>
<% end %>
