<%= form_tag({:controller=>"repository",:action=>"create"}, :method=>"post", :class=>"form-horizontal") do %>
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Create Repository</h3>
   </div>
   <div class="modal-body">
      <fieldset>
       <div class="control-group">
          <label class="control-label" for="repo_id">Repository Id</label>
          <div class="controls">
            <input type="text" id="id" name="id"/>
          </div>
        </div>
        <div class="control-group">
           <label class="control-label" for="description">Description</label>
           <div class="controls">
             <textarea id="description" name="description" rows="3"></textarea>
           </div>
         </div>
      </fieldset>
   </div>
   <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cancel</button>
      <input class="btn btn-primary" type="submit" name="commit" value="Create Repository" />
   </div>
<% end %>