<div class="subrecord-form-fields">
  <section class="subrecord-form">
    <h4 class="subrecord-form-heading">
      Bibliography
      <button class="btn btn-small pull-right dropdown-toggle add-bibliography-item-btn" data-toggle="dropdown">Add Item</button>
    </h4>
    <div class="subrecord-form-container"></div>
  </section>
</div>
