<div class="subrecord-form-fields">
  <div class="form-group required">
    <label class="control-label"><%= t("note.note_type") %></label>
    <div class="controls">
      <select class="top-level-note-type">
        <option></option>
        <% note_types_for(form['jsonmodel_type']).sort_by {|value, hash| hash[:i18n]}.each do |value, hash| %>
          <option value="<%= hash[:target] %>"><%= hash[:i18n] %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="selected-container">
    <% form.emit_template("note_type_nil") %>
  </div>
</div>
