<div class="subrecord-form-fields">
  <h5>SINGLE</h5>
  <%= f.jsonmodel_hidden_field :jsonmodel_type, "note_singlepart" %>
  <%= f.label_and_field :type %>
  <%= f.label_and_field :label %>
  <%= f.label_and_textarea :content %>
</div>