<div class="subrecord-form-fields">

  <div class="control-group ">
    <label class="control-label">Note Type</label>
    <div class="controls label-only">
      <strong>Single Part Note</strong>
    </div>
  </div>

  <%= f.jsonmodel_hidden_field :jsonmodel_type, "note_singlepart" %>
  <%= f.label_and_field :type %>
  <%= f.label_and_field :label %>
  <%= f.label_and_textarea :content %>
</div>