<div id="note_singlepart_form_template"><!--
  <%= f.with_jsonmodel "notes[]", {}, :note_singlepart, :index => "${index}" do %>
    <% render :partial=>"notes/singlepart_form.html", :locals => {:f => f, :type => "${type}"} %>
  <% end %>
--></div>

<div id="note_multipart_form_template"><!--
  <%= f.with_jsonmodel "notes[]", {}, :note_multipart, :index => "${index}" do %>
    <% render :partial=>"notes/multipart_form.html", :locals => {:f => f, :type => "${type}"} %>
  <% end %>
--></div>

<div id="note_bibliography_form_template"><!--
  <%= f.with_jsonmodel "bibliography[]", {}, :note_bibliography, :index => "${index}" do %>
    <% render :partial=>"notes/bibliography_form.html", :locals => {:f => f, :type => "${type}"} %>
  <% end %>
--></div>

<div id="note_bibliography_item_form_template"><!--
  <div class="subrecord-form-wrapper">
    <div class="subrecord-form-fields">
      <textarea></textarea>
    </div>
  </div>
--></div>