<div id="note_singlepart_form_template"><!--
  <%= f.with_jsonmodel "notes[]", {}, :note_singlepart, :index => "${index}" do %>
    <% render :partial=>"notes/singlepart_form.html", :locals => {:f => f} %>
  <% end %>
--></div>

<div id="note_multipart_form_template"><!--
  <%= f.with_jsonmodel "notes[]", {}, :note_multipart, :index => "${index}" do %>
    <% render :partial=>"notes/multipart_form.html", :locals => {:f => f} %>
  <% end %>
--></div>