<div class="control-group">
  <div class="control-label"><%= I18n.t("subject._html.plural") %></div>
  <div class="controls label-only">
    <ul class="token-list">
      <% subjects.each do | subject | %>
        <li>
          <%= render_token :object => subject,
                           :label => Subject.from_hash(subject).display_string,
                           :type => "subject",
                           :uri => subject['uri'] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>