<div class="form-group">
  <div class="control-label"><%= t("subject._plural") %></div>
  <div class="controls label-only">
    <ul class="token-list">
      <% subjects.each do | subject | %>
        <li>
          <%= render_token :object => subject,
                           :label => subject['title'],
                           :type => "subject",
                           :uri => subject['uri'] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
