<% define_template "subrecord_subject", jsonmodel_definition(:accession) do |form| %>
  <div class="subrecord-form-fields">
    <%= render :partial => "subjects/linker", :formats => [:html], :handlers => [:erb], :locals => { :form => form }%>
  </div>
<% end %>
