<% define_template "subrecord_subject", jsonmodel_definition(:accession) do |form| %>
  <div class="subrecord-form-fields">
    <%= render_aspace_partial :partial => "subjects/linker", :locals => { :form => form }%>
  </div>
<% end %>
