<%= render :partial=>"shared/breadcrumb", :locals=>{:trail=>[link_to("Browse Subjects", :controller=>:subjects, :action=>:index),"New Subject"]} %>
<div class="row-fluid">
   <div class="span3">
      <div class="well"></div>
   </div>
   <div class="span9">
      <h2><%= @subject.term %>  <span class="label label-info">Subject</span></h2>
      <br/>
      <%= form_for @subject, :as => "subject", :url=>{:action=>:update}, :html=>{:class=>'form-horizontal'} do |f| %>
         <%= render :partial=>"subjects/form", :locals=>{:f => f} %>
      <% end %>
   </div>
</div>