<%= render :partial=>"shared/breadcrumb", :locals=>{:trail=>["Browse Subjects"]} %>
<div class="row-fluid">
   <div class="span3">
      The facets/search filters will go here.
   </div>
   <div class="span9 record-pane">
      <div class="btn-group">
        <%= link_to "Create Subject", {:controller=>:subjects, :action=>:new}, :class=>"btn" %>
      </div>
      <% if not @subjects.blank? %>
         <h2>Subjects</h2>
         <table class="table table-striped table-bordered table-condensed">
           <thead>
             <tr>
               <th>Subject</th>
               <th width="70px"><!-- actions --></th>
             </tr>
           </thead>
           <tbody>
            <% @subjects.each do |subject| %>
               <tr>
                <td><%= subject.display_string %></td>
                <td>
                   <div class="btn-group" style="float: right">
                     <%= link_to "View", {:controller=>:subjects, :action=>:show, :id=>subject.id}, :class=>"btn btn-mini" %>
                   </div>
                </td>
              </tr>
            <% end %>
           </tbody>
         </table>
      <% else %>
         <p class="alert alert-info">
            No Subjects.
         </p>
      <% end %>
   </div>
</div>
