<div class="subform">
  <h4>
    <span class="subform-title"></span>
    <a href="javascript:void(0)" class="btn btn-mini pull-right subform-remove"><span class='icon-remove'></span></a>
  </h4>
  <div class="subform-container">

    <div class="control-group">
       <label class="control-label">Name</label>
       <div class="controls label-only">
          <input type="text" name="agent[agent_contacts][][name]">
       </div>
    </div>

    <div class="control-group">
       <label class="control-label">Address 1</label>
       <div class="controls label-only">
          <input type="text" name="agent[agent_contacts][][address_1]">
       </div>
    </div>
       <div class="control-group">
          <label class="control-label">Address 2</label>
          <div class="controls label-only">
             <input type="text" name="agent[agent_contacts][][address_2]">
          </div>
       </div>
          <div class="control-group">
             <label class="control-label">Address 3</label>
             <div class="controls label-only">
                <input type="text" name="agent[agent_contacts][][address_3]">
             </div>
          </div>

    <div class="control-group">
       <label class="control-label">Email Address</label>
       <div class="controls label-only">
          <input type="email" name="agent[agent_contacts][][email]">
       </div>
    </div>

  </div>
</div>