<%= render_aspace_partial :partial => "telephones/template" %>


<% define_template "agent_contact", jsonmodel_definition(:agent_contact) do |form| %>
  <div class="subrecord-form-fields">
    <% field_names = ["name", "salutation", "address_1", "address_2", "address_3", "city", "region", "country", "post_code", "email", "note"] %>
    <% field_names.each do |field_name| %>
      <% if form.required?(field_name) %>
        <%= form.label_and_readonly field_name %>
      <% else %>
        <%= form.label_and_req_boolean field_name %>
      <% end %>
    <% end %>
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => { :form => form,  :name => "telephones", :template => "telephone_required", :heading_size => "h5" } %>
  </div>
<% end %>
