<%= render "shared/form_messages", :object => @agent %>

<fieldset>
  <section id="agent_details">
    <h3>Agent Details</h3>
    <%# f.label_field_pair :type %>
    <div class="control-group">
       <label class="control-label">Type</label>
       <div class="controls label-only">
          <%= f.hidden_field :agent_type %>
          <strong><%= I18n.t("agent.#{@agent.agent_type}") %></strong>
       </div>
    </div>
    <div class="control-group">
       <label class="control-label">Something</label>
       <div class="controls label-only">
          Goes here
       </div>
    </div>
    <div class="control-group">
       <label class="control-label">Something</label>
       <div class="controls label-only">
          Else
       </div>
    </div>
  </section>

  <section id="primary_name">
    <h3>Primary Name</h3>
    <%= render :partial => "agents/name_forms/#{@agent.agent_type}", :locals => {:name => @agent.names[0]} %>
  </section>

  <section id="secondary_names">
    <h3>
      Secondary Name(s)
      <input type="button" class="btn btn-small pull-right" value="Add Secondary Name"/>
    </h3>
    <div id="secondary_names_container">
      <p class="alert alert-info">Click 'Add Secondary Name' to add further name records.</p>
    </div>
  </section>

  <section id="contacts">
    <h3>
      Contact Details
      <input type="button" class="btn btn-small pull-right" value="Add Contact Details"/>
    </h3>
    <div id="contacts_container">
      <p class="alert alert-info">Click 'Add Contact Details' to add contact detail records.</p>
    </div>
  </section>

  <section id="relationships">
    <h3>Relationships</h3>
    <p class="alert alert-info">TODO</p>
  </section>

</fieldset>

<div id="agent_secondary_name_form_template"><!--

--></div>