<div id="footer">
  ArchivesSpace Version <%= ASConstants.VERSION %> Documentation Generated on <%= Time.now.strftime("%c") %> by
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  <%= YARD::VERSION %> (ruby-<%= RUBY_VERSION %>).
</div>