<div class="navbar-branding flex-grow-1 align-self-stretch order-1 order-md-0 p-12px">
  <%= image_tag asset_path(AppConfig[:frontend_branding_img]), :class =>"header-logo", :alt => AppConfig[:frontend_branding_img_alt_text]  %>
</div>
