<div class="container footer">
   <div class="row-fluid">
      <div class="span12">
         <p>&#169; <%= Date.today.year %> <a href="http://archivesspace.org">ArchivesSpace</p>
      </div>
   </div>
</div>