<%
  custom_footer_parts = []

  if AppConfig[:enable_public]
    public_link = t("footer.public_interface_html", :public_url => AppConfig[:public_proxy_url])
    custom_footer_parts << public_link
  end

  archivesspace_home = t("footer.archivesspace_home_html")
  custom_footer_parts << archivesspace_home

  version = ERB::Util.html_escape(ASConstants.VERSION)
  custom_footer_parts << version

  if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank?
    feedback_link = t("footer.feedback_html", :feedback_url => AppConfig[:feedback_url])
    custom_footer_parts << feedback_link
  end
%>

<footer class="<%= local_assigns[:layout_class] %>">
  <div class="global-footer">
    <div class="footer-item">
      <button type="button" class="keyboard-help-trigger"><%= t('footer.keyboard_shortcuts') %></button>
    </div>
    <% custom_footer_parts.each do |part| %>
      <span class="footer-separator">|</span>
      <div class="footer-item"><%= part %></div>
    <% end %>
  </div>
</footer>
