<div class="container-fluid footer">
   <div class="row">
      <div class="col-md-12">
        <p><% if AppConfig[:enable_public] %><%= I18n.t("footer.public_interface", :public_url => AppConfig[:public_proxy_url]) %> | <% end %><%= I18n.t("footer.archivesspace_home") %> | <%= ASConstants.VERSION %><% if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank? %> | <%= I18n.t("footer.feedback", :feedback_url => AppConfig[:feedback_url]) %> <% end %></p>
      </div>
   </div>
</div>
