<div class="form-group">
  <div class="control-label"><%= I18n.t("file_version.file_uri") %></div>
  <div class="controls label-only">
    <% if file_uri.respond_to?(:scheme) && file_uri.scheme.match(/^http/) %>
  	<%= link_to file_uri.to_s, file_uri.to_s %>
    <% else %>
  	<%= file_uri.to_s %>
    <% end %>
  </div>
</div>
