<% if IIIF.enabled? %>
  <div class="iiif-embed">
    <%= content_tag(:iframe, nil, {
      :src => IIIF.viewer_url(current_repo.repo_code, manifest.fetch('file_uri')),
      :class => 'universal-viewer-iframe',
      :allow => 'fullscreen',
    }) %>
  </div>
<% else %>
  <div class="alert alert-warning">AppConfig[:iiif_viewer_url] = {:default => '...'} needs to be set to embed IIIF viewer</div>
<% end %>