<div class="form-group">
  <div class="control-label"><%= I18n.t("file_version.file") %></div>
  <div class="controls label-only">
    <div class="image-container">
      <img class="image-responsive" src="<%= file['file_uri'] %>" />
    </div>
  </div>
</div>

