<div class="form-group">
  <div class="control-label col-sm-2"><%= t("file_version.file") %></div>
  <div class="controls label-only">
    <div class="image-container">
      <img class="image-responsive" src="<%= file['file_uri'] %>" alt="<%= alt_text %>" />
    </div>
  </div>
</div>
