<%
  section_id = "user_defined" if section_id.blank?

  render_aspace_partial :partial => "user_defined/template"
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= t("user_defined._singular") %></h3>

  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <%= readonly_context(:user_defined, user_defined) do |readonly| %>
        <%= readonly.emit_template("user_defined") %>
      <% end %>
    </div>
  </div>
</section>
