<section>
  <h5>Locations</h5>

  <div class="container-subrecord">
    <% container_locations.each_with_index do |container_location, index| %>
      <%= read_only_view(container_location.to_hash, :label_css => "span4") %>
      <% if container_location["location"] %>
        <div class="row-fluid label-and-value">
          <div class="span4" ><%= I18n.t("container_location.location") %></div>
          <div class="span8 token-list">
            <%= render_token :object => container_location["resolved"],
                             :label => Location.from_hash(container_location["resolved"]["location"]).display_string,
                             :type => "location",
                             :uri => container_location["location"] %>
          </div>
        </div>
      <% end %>
      <% if index < container_locations.length-1 %><hr/><% end %>
    <% end %>
  </div>

</section>