<section>
  <h5><%= I18n.t("container_location._plural") %></h5>

  <div class="container-subrecord">
    <% container_locations.each_with_index do |container_location, index| %>
      <% 
        container_location["jsonmodel_type"] = "container_location"
      %>
      <%= read_only_view(container_location, :label_css => "col-md-4") %>
      <% if container_location['_resolved'] %>
        <div class="form-group">
          <div class="control-label"><%= I18n.t("container_location.location") %></div>
          <div class="controls token-list">
            <%= render_token :object => container_location['_resolved'],
                             :label => container_location['_resolved']['title'],
                             :type => "location",
                             :uri => container_location["ref"],
                             :placement => "top" %>
          </div>
        </div>
      <% end %>
      <% if index < container_locations.length-1 %><hr/><% end %>
    <% end %>
  </div>

</section>
