<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Accessions", :controller => :accessions, :action => :index), link_to(@accession.title, :controller => :accessions, :action => :show, :id => @accession.id), "Edit"]} %>

<div class="row-fluid">
  <div class="span12">
    <%= render :partial => "shared/tree", :locals => {:object => @accession, :tree => @accession_tree, :child_jsonmodel_type => "resource"} %>
  </div>
</div>

<div id="object_container"></div>