<%= setup_context(:object => @accession) %>

<div class="row-fluid">
  <div class="span12">
    <%= render :partial => "shared/tree", :locals => {:tree => @accession_tree} %>
  </div>
</div>

<div id="object_container"></div>
