<div class="row-fluid">
   <div class="span3">
      <div class="well">
         <p>This is where the tree will go. Perhaps not for a new Accession.  But when editing it will be here.</p>
      </div>
   </div>
   <div class="span6">
      <h2>Create an Accession</h2>
      <%= render "accessions/form" %>
   </div>
   <div class="span3"></div>
</div>