<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Accessions", :controller => :accessions, :action => :index),"New Accession"]} %>

<%= form_for @accession, :as => "accession", :url => {:action => :create}, :html => {:class => 'form-horizontal', :id => "accession_form"} do |f| %>
  <div class="row-fluid">
    <div class="span3">
      <%= render :partial => "sidebar" %>
    </div>
    <div class="span9 record-pane">
      <h2>New Accession</h2>
      <%= render :partial => "accessions/form", :locals => {:f => f} %>
    </div>
  </div>
<% end %>