<% define_template "linked_agent" do |form| %>
  <div class="subrecord-form-fields" data-type="FOOOOOOO">
    <%= form.label_and_select("role", form.options_for("role", JSONModel(:event).schema["properties"]["linked_agents"]["items"]["properties"]["role"]["enum"])) %>
    <%= render :partial => "agents/linker", :locals => {:form => form} %>
    </div>
  </div>
<% end %>