<table>
    <tr>
        <th>Name</th>
        <th>Function</th>
        <th>Role</th>
        <% @report.each do |name| %>
            <tr>
                <td><%= name.fetch('sortName') %></td>
                <td><%= name.fetch('nameLinkFunction') %></td>
                <td><%= name.fetch('role') %></td>
            </tr>
        <% end %>
</table>
