<div class="header">
  <img class="logo" src="<%= @base_url || '/' %>reports/static/images/archivesspace.small.png"/>
  <h1><%= h @report.title %></h1>
</div>

<table class="report-listing">
  <thead>
  <tr>
    <% @report.headers.each do |heading| %>
      <th><%= transform_text(heading.to_s) %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @report.each do |record| %>
    <tr>
      <% @report.headers.each do |heading| %>
        <td>
          <%= transform_text(record[heading].to_s) %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
