<ul>
  <% value = sub_report_data_stack.last %>
  <% value.each do |item| %>
    <li>
      <dl>
        <% item.each do |key, value| %>
          <% if value.kind_of?(Array) %>
            <dt><%= t(key) %></dt>
            <br/>
            <%= show_in_list(value) %>
          <% elsif value %>
            <% unless key.to_s[0] == '_' %>
              <dt><%= t(key) %></dt>
            <% end %>
            <dd><%= value %></dd>
          <% end %>
        <% end %>
      </dl>
    </li>
  <% end %>
</ul>