<table>
  <tr>
    <th><%= t('uri') %></th>
    <th><%= t('use_statement') %></th>
    <% @report.each do |file_version| %>
    <tr>
      <td><%= h file_version.fetch('uri') %></td>
      <td><%= h file_version.fetch('useStatement') %></td>
    </tr>
  <% end %>
</table>
