<div class="noscript citation">
  <blockquote><p><%= sanitize(@cite) %></p></blockquote>
<% unless @url.blank? %>
  <p>
    <i class="fa fa-hand-o-left"  aria-hidden="true"></i> <a href="<%= app_prefix(sanitize(@url)) %>"><%= t('actions.backup') %></a>
  </p>
<% end %>
</div>
