<% if user_can?('update_location_profile_record') %>
  <div class="record-toolbar d-flex align-items-center">
    <% if !['edit', 'update', 'new', 'create'].include?(controller.action_name) %>
      <div class="btn-group">
        <%= link_to t("actions.edit"), {:controller => :location_profiles, :action => :edit, :id => @location_profile.id}, :class => "btn btn-sm btn-primary" %>
      </div>
    <% end %>
    <% if !['new', 'create'].include?(controller.action_name) %>
      <div class="btn-toolbar ml-auto">
        <%= button_delete_action url_for(:controller => :location_profiles, :action => :delete, :id => @location_profile.id), { :"data-title" => t("actions.delete_confirm_title", :title => @location_profile.name) } unless @location_profile.id.nil? %>
      </div>
    <% end %>
  </div>

<% end %>
