<%= render_aspace_partial :partial => "date_calculator/template", :locals => {:record => record} %>
<a href="javascript:void(0);" class="date-calculator-btn" data-record-type="<%= record.jsonmodel_type %>" data-record-id="<%= record.id %>">
  <%= I18n.t("date_calculator.toolbar_button") %>
</a>
