<template id="infinite-tree-root-node-template">
  <li class="root node" role="treeitem" id data-uri>
    <div class="node-row">
      <div class="node-body" title>
        <div class="node-column" data-column="title">
          <a class="record-title" href></a>
        </div>
      </div>
    </div>
  </li>
</template>

<template id="infinite-tree-node-template">
  <li class="node" role="treeitem" id data-uri>
    <div class="node-row">
      <div class="node-body" title>
        <div class="node-indentation"></div>
        <div class="node-column" data-column="title">
          <a class="record-title" href></a>
        </div>
      </div>
    </div>
  </li>
</template>
