<div id="archivesSpaceSidebar">
  <ul class="nav nav-list as-nav-list">
    <% if @exceptions %>
      <li class="<% if @exceptions.has_key?(:errors)%>alert-error<% end %>">
        <a href="#form_messages"><%= I18n.t("errors.sidebar_label") %>  <span class="icon-chevron-right"></span></a>
      </li>
    <% end %>

    <li><a href="#basic_information"><%= I18n.t("classification._frontend.section.basic_information") %> <span class="icon-chevron-right"></span></a></li>

    <% if controller.action_name === "show" %>
      <li><a href="#search_embedded"><%= I18n.t("classification._frontend.section.search_embedded") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if controller.action_name != "show" %>
      <li class="form-actions">
        <button type="submit" class="btn btn-primary"><%= I18n.t("classification._frontend.action.save") %></button>
      </li>
    <% end %>
  </ul>
</div>
