<% define_template "classification" do |form, opts = {}|  %>
  <div class="classification-container">
    <div class="subrecord-form-fields">
      <% if !opts[:readonly] %>
        <%= render_aspace_partial :partial => "classifications/linker",
                   :locals => {
                       :form => form
                   }
         %>
      <% end %>
    </div>
  </div>
<% end %>
