<section id="job_filenames_">
  <div class="form-group required">
    <label class="col-sm-2 control-label" for="job_file_input">Spreadsheet File</label>
    <div class="col-sm-9">
      <input
          id="job_file_input"
          type="file"
          name="files[]"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          required
      />
    </div>
  </div>
  <%= form.label_and_boolean "create_missing_top_containers", {},
          AppConfig.has_key?(:spreadsheet_bulk_updater_create_missing_top_containers) && AppConfig[:spreadsheet_bulk_updater_create_missing_top_containers] %>
</section>
