<%=
  @breadcrumbs = []
  setup_context :title => I18n.t("errors.error_404"), :suppress_breadcrumb => true
%>

<div class="alert alert-error">
  <h2><%= I18n.t("errors.error_404") %></h2>
  <p><%= I18n.t("errors.error_404_message") %></p>
</div>