{
  :backend_url => "http://yourhostname:8089",
  :frontend_url => "http://yourhostname:8080",
  :solr_url => "http://yourhostname:8090",
  :indexer_url => "http://yourhostname:8091",
  :public_url => "http://yourhostname:8081",
}
