<% if result.json.key?('agent_genders') && result.json['agent_genders'].any? %>
  <ul>
  <% result.json['agent_genders'].each do |n| %>
    <li><%= I18n.t("enumerations.gender.#{n['gender']}") %></li>
  <% end %>
  </ul>
<% end %>
