<% if result.json['names'].reject { |n| n['is_display_name'] }.any? %>
  <p><%= I18n.t('pui_agent.also_known_as') %>:</p>
  <ul class="present_list">
  <% result.json['names'].reject { |n| n['is_display_name'] }.each do |r| %>
    <li>
      <%= r['sort_name'] %>
      <% if r['use_dates'] && r['use_dates'].any? %>
        <% r['use_dates'].each do |date| %>
          (<%= render partial: 'structured_date', locals: {:date => date} %>)
        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
