<% names_with_primarys = result.json['names'].select{ |n| n['parallel_names'].any? } %>

<% if names_with_primarys.any? %>
  <h3><%= I18n.t('pui_agent.parallel') %></h3>
  <ul>
  <% names_with_primarys.each do |n| %>
    <% n['parallel_names'].sort_by{ |pn| pn['sort_name'] }.each do |pn| %>
      <li><%= pn['sort_name'] %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
