<% if result.json['agent_places'].any? %>
<h3><%= I18n.t('agent_place._plural') %></h3>
<ul>
<% result.json['agent_places'].each do |n| %>
  <% subjects = n['subjects'] %>
  <% subjects.each do |s| %>
    <% if s['_resolved']['publish'] %>
      <li><a href="<%= s['_resolved']['uri']%>"><%= place_title(s['_resolved']['title'], n['place_role']) %></a></li>
    <% else %>
      <li><%= place_title(s['_resolved']['title'], n['place_role']) %></li>
    <% end %>
  <% end %>
<% end %>
</ul>
<% end %>
