function AjaxTree(tree, $pane) {
    this.tree = tree;
    this.$pane = $pane;

    // load initial pane!
    var tree_id = this.tree_id_from_hash();

    if (tree_id == null) {
        tree_id = tree.large_tree.root_tree_id;
        location.hash = 'tree::' + tree_id;
    }

    this.tree.large_tree.setCurrentNode(tree_id);
    this.loadPaneForId(tree_id);
    this.setupHashChange();
}

AjaxTree.prototype.setupHashChange = function() {
    $(window).hashchange($.proxy(this.handleHashChange, this));
};

AjaxTree.prototype.tree_id_from_hash = function() {
    if (!location.hash) {
        return;
    }

    var tree_id = location.hash.replace(/^#(tree::)?/, "");

    if (TreeIds.parse_tree_id(tree_id)) {
        return tree_id;
    } else {
        return null;
    }
}

AjaxTree.prototype.handleHashChange = function(event) {
    var self = this;

    if ($(window).data("ignore-hashchange")) {
        $(window).data("ignore-hashchange", false);
        return false;
    }

    var tree_id = self.tree_id_from_hash();

    if (tree_id == null) {
        return false;
    }

    // TODO Set selected row on tree

    // Load pane
    self.tree.large_tree.setCurrentNode(tree_id);
    self.loadPaneForId(tree_id);

    return false;
};

AjaxTree.prototype.loadPaneForId = function(tree_id) {
    var self = this;

    // TODO insertLoadingMessage();
    var params = {};
    params.inline = true;
    params[self.tree.large_tree.root_node_type + '_id'] = self.tree.large_tree.root_uri;

    var parsed = TreeIds.parse_tree_id(tree_id);
    var row_type = parsed.type;
    var row_id = parsed.id;

    // FIXME: nicer way to get the controller path?
    var url = APP_PATH+row_type + 's' + '/' + row_id;

    if (!self.tree.large_tree.read_only) {
        url = url + "/edit";
    }

    self._ajax_the_pane(url, params, $.noop);
};

AjaxTree.prototype._ajax_the_pane = function(url, params, callback) {
    var self = this;
    $.ajax({
        url: url,
        type: 'GET',
        data: params,
        success: function(html) {
            self.$pane.html(html);
            if (!self.tree.large_tree.read_only) {
                self.setup_ajax_form();
            }
            $(document).trigger("loadedrecordform.aspace", [self.$pane]);
            callback();
        },
        error: function(obj, errorText, errorDesc) {
            // FIXME I18n message
            $("#object_container").html("<div class='alert alert-error'><p>An error occurred loading this form.</p><pre>"+errorDesc+"</pre></div>");
        }
    });
}


AjaxTree.prototype.setup_ajax_form = function() {
    var self = this;

    var $form = $("form", self.$pane);

    $form.ajaxForm({
        data: {
            inline: true
        },
        beforeSubmit: function(arr, $form) {
            $(".btn-primary", $form).attr("disabled","disabled");

            if ($form.data("createPlusOne")) {
                arr.push({
                    name: "plus_one",
                    value: "true",
                    required: false,
                    type: "text"
                });
            }
        },
        success: function(response, status, xhr) {
            self.$pane.html(response);
            var $form = self.setup_ajax_form();

            $(document).trigger("loadedrecordform.aspace", [self.$pane]);

            if ($form.data('formErrors')) {
                self.$pane.triggerHandler("submitted", {success: false});
                $form.data("form_changed", true);
                $(".btn-primary, .btn-cancel", $form).removeAttr("disabled");
            } else {
                $form.data("form_changed", false);

                // FIXME: UPDATE TREE!
                self.tree.large_tree.refreshForId($('#id', $form).val()); // or similar
            }

            if ( $form.data('"update-monitor-paused"') ) {
                $form.data("update-monitor-paused", false);
            }

            // scroll back to the top
            $.scrollTo("header");
        },
        error: function(obj, errorText, errorDesc) {
            // FIXME I18n message
            self.$pane.prepend("<div class='alert alert-error'><p>An error occurred saving this record.</p><pre>"+errorDesc+"</pre></div>");
            self.$pane.triggerHandler("submitted", {success: false});
            $(".btn-primary", $form).removeAttr("disabled");
        }
    });

    return $form;
};

AjaxTree.prototype.add_new_after = function(node, level, url) {
    var self = this;

    // update the hash
    $(window).data('ignore-hashchange', true);
    location.hash = 'new';

    // catch any clicks (as this will cancel the new form)
    $(self.tree.large_tree.elt).on('click', function(event) {
        event.preventDefault();
        // FIXME cancel new form?
    });
    $(self.tree.toolbar_renderer.container).empty();

    // add a new table row
    var $new_tr = $('<tr>');
    $new_tr.data('last_node', node);
    var colspan = 0;
    node.find('td').filter(':not(.title,.drag-handle)').each(function(td) {
        colspan += $(td).attr('colspan') || 1;
    });
    var $drag = $('<td>');
    $drag.appendTo($new_tr);
    var $titleCell = $('<td>').addClass('title');
    var $indentor = $('<span>').addClass('indentor');
    $indentor.append($('<span>').addClass('glyphicon glyphicon-asterisk'));
    $indentor.appendTo($titleCell);
    $titleCell.append($('<span>').addClass('new-title').text('New Record')); // FIXME I18n
    $titleCell.appendTo($new_tr);
    $('<td>').attr('colspan', colspan).appendTo($new_tr);
    node.removeClass('current');
    $new_tr.addClass('current');

    $new_tr.attr('id', 'new');
    $new_tr.addClass('indent-level-'+level);

    // FIXME need to position this tr based on level and position
    node.after($new_tr);

    if (node.data('level') < level) {
        if (node.find('.expandme:visible').length != 0) {
            if (node.find('.expandme .expandme-icon').is(':not(.expanded')) {
                // FIXME this will need to show all the children nodes so the 
                // the new node is the last in the list
                // FIXME and focus the new row
                node.find('.expandme').trigger('click');
            }
        }
    }

    var root_node = $('#'+this.tree.large_tree.root_tree_id);

    var params = {
        inline: true
    };

    var root_uri_parts = TreeIds.uri_to_parts(root_node.data('uri'));
    var node_uri_parts = TreeIds.uri_to_parts(node.data('uri'));

    params[root_uri_parts.type + '_id'] = root_uri_parts.id;
    if (node.data('jsonmodel_type') == root_uri_parts.type) {
        // add new node below root node
        params['position'] = 0;
    } else if (node.data('level') == level) {
        // add sibling node below current node
        params['position'] = node.data('position') + 1;
        if (node.data('parent_id')) {
            params[node_uri_parts.type + '_id'] = node.data('parent_id');
        }
    } else {
        // add as last child of node
        params[node_uri_parts.type + '_id'] = node_uri_parts.id;
    }

    self._ajax_the_pane(url, params, function() {
        self.$pane.find('.btn-cancel').on('click', function(event) {
            event.preventDefault();
            $new_tr.remove();
            self.loadPaneForId(node.attr('id'));
            node.addClass('current');
            node.find('a.record-title').focus();
        });
    });
};
