function BaseRenderer() {
    this.endpointMarkerTemplate = $('<div class="table-row end-marker" />');

    this.rootTemplate = $('<div class="table-row"> ' +
                          '  <div class="table-cell no-drag-handle"></div>' +
                          '  <div class="table-cell title"></div>' +
                          '</div>');


    this.nodeTemplate = $('<div class="table-row"> ' +
                          '  <div class="table-cell drag-handle"></div>' +
                          '  <div class="table-cell title"><span class="indentor"><button class="expandme" aria-expanded="false"><i class="expandme-icon glyphicon glyphicon-chevron-right"></i></button></span> </div>' +
                          '</div>');
}

BaseRenderer.prototype.endpoint_marker = function () {
    return this.endpointMarkerTemplate.clone(true);
}

BaseRenderer.prototype.get_root_template = function () {
    return this.rootTemplate.clone(false);
}


BaseRenderer.prototype.get_node_template = function () {
    return this.nodeTemplate.clone(false);
};

BaseRenderer.prototype.i18n = function (enumeration, enumeration_value) {
    return EnumerationTranslations.t(enumeration, enumeration_value);
};


function ResourceRenderer(config = {}) {
    BaseRenderer.call(this);
    this.config = config;
    this.rootTemplate = $('<div class="table-row"> ' +
                          '  <div class="table-cell no-drag-handle"></div>' +
                          '  <div class="table-cell title"></div>' +
                          '  <div class="table-cell resource-level"></div>' +
                          '  <div class="table-cell resource-type"></div>' +
                          '  <div class="table-cell resource-container"></div>' +
                          '</div>');

    this.nodeTemplate = $('<div class="table-row"> ' +
                          `  <div class="table-cell drag-handle">${dragHandleMarkup()}</div>` +
                          '  <div class="table-cell title"><span class="indentor"><button class="expandme" aria-expanded="false"><i class="expandme-icon glyphicon glyphicon-chevron-right"></i></button></span> </div>' +
                          '  <div class="table-cell resource-level"></div>' +
                          '  <div class="table-cell resource-type"></div>' +
                          '  <div class="table-cell resource-container"></div>' +
                          '</div>');

    if (config.show_identifiers) {
        console.log("show identifiers");
        this.rootTemplate.addClass("five-fields");
        this.nodeTemplate.addClass("five-fields");
        this.rootTemplate.append('<div class="table-cell resource-identifier"></div>');
        this.nodeTemplate.append('<div class="table-cell resource-identifier"></div>');
    }
}

ResourceRenderer.prototype = Object.create(BaseRenderer.prototype);

ResourceRenderer.prototype.add_root_columns = function (row, rootNode) {
    var level = this.i18n('archival_record_level', rootNode.level);
    var type = this.build_type_summary(rootNode);
    var container_summary = this.build_container_summary(rootNode);

    if (rootNode.parsed_title) {
      row
        .find('.title .record-title')
        .html(() => recordTitleHandler(rootNode.suppressed, rootNode.parsed_title));
    }

    if (this.config.show_identifiers && rootNode.identifier) {
      row.find('.resource-identifier').text(rootNode.identifier).attr('title', rootNode.identifier);
    }

    row.find('.resource-level').text(level).attr('title', level);
    row.find('.resource-type').text(type).attr('title', type);
    row.find('.resource-container').text(container_summary).attr('title', container_summary);
}


ResourceRenderer.prototype.add_node_columns = function (row, node) {
    var title = this.build_node_title(node);
    var level = this.i18n('archival_record_level', node.level);
    var type = this.build_type_summary(node);
    var container_summary = this.build_container_summary(node);

    row
      .find('.title .record-title')
      .html(() => recordTitleHandler(node.suppressed, title))
      .attr('title', title);

    if (this.config.show_identifiers && node.identifier) {
      row.find('.resource-identifier').text(node.identifier).attr('title', node.identifier);
    }

    row.find('.resource-level').text(level).attr('title', level);
    row.find('.resource-type').text(type).attr('title', type);
    row.find('.resource-container').text(container_summary).attr('title', container_summary);
};


ResourceRenderer.prototype.build_node_title = function(node) {
  return build_node_title(node);
};


ResourceRenderer.prototype.build_type_summary = function(node) {
    var self = this;
    var type_summary = '';

    if (node['containers']) {
        var types = []

        $.each(node['containers'], function(_, container) {
            types.push(self.i18n('instance_instance_type', container['instance_type']));
        });

        type_summary = types.join(', ');
    }

    return type_summary;
};


ResourceRenderer.prototype.build_container_summary = function(node) {
    var self = this;
    var container_summary = '';

    if (node['containers']) {
        var container_summaries = []

        $.each(node['containers'], function(_, container) {
            var summary_items = []
            if (container.top_container_indicator) {
                var top_container_summary = '';

                if (container.top_container_type) {
                    top_container_summary += self.i18n('container_type', container.top_container_type) + ': ';
                }

                top_container_summary += container.top_container_indicator;

                if (container.top_container_barcode) {
                    top_container_summary += ' [' + container.top_container_barcode + ']';
                }

                summary_items.push(top_container_summary);
            }
            if (container.type_2) {
                summary_items.push(self.i18n('container_type', container.type_2) + ': ' + container.indicator_2);
            }
            if (container.type_3) {
                summary_items.push(self.i18n('container_type', container.type_3) + ': ' + container.indicator_3);
            }
            if (summary_items.length > 0) {
                container_summaries.push(summary_items.join(', '));
            }
        });

        container_summary = container_summaries.join('; ');
    }

    return container_summary;
};


function DigitalObjectRenderer() {
    BaseRenderer.call(this);


    this.rootTemplate = $('<div class="table-row"> ' +
                          '  <div class="table-cell no-drag-handle"></div>' +
                          '  <div class="table-cell title"></div>' +
                          '  <div class="table-cell digital-object-type"></div>' +
                          '  <div class="table-cell file-uri-summary"></div>' +
                          '</div>');


    this.nodeTemplate = $('<div class="table-row"> ' +
                          `  <div class="table-cell drag-handle">${dragHandleMarkup()}</div>` +
                          '  <div class="table-cell title"><span class="indentor"><button class="expandme" aria-expanded="false"><i class="expandme-icon glyphicon glyphicon-chevron-right"></i></button></span> </div>' +
                          '  <div class="table-cell digital-object-type"></div>' +
                          '  <div class="table-cell file-uri-summary"></div>' +
                          '</div>');
}

DigitalObjectRenderer.prototype = new BaseRenderer();

DigitalObjectRenderer.prototype.add_root_columns = function (row, rootNode) {
    if (rootNode.digital_object_type) {
        var type = this.i18n('digital_object_digital_object_type', rootNode.digital_object_type);
        row.find('.digital-object-type').text(type).attr('title', type);
    }

    if (rootNode.file_uri_summary) {
        row.find('.file-uri-summary').text(rootNode.file_uri_summary).attr('title', rootNode.file_uri_summary);
    }

    if (rootNode.parsed_title) {
      row
        .find('.title .record-title')
        .html(() => recordTitleHandler(rootNode.suppressed, rootNode.parsed_title));
    }
}

DigitalObjectRenderer.prototype.add_node_columns = function (row, node) {
    var title = this.build_node_title(node);

    row
      .find('.title .record-title')
      .html(() => recordTitleHandler(node.suppressed, title))
      .attr('title', title);

    row.find('.file-uri-summary').text(node.file_uri_summary).attr('title', node.file_uri_summary);
};

DigitalObjectRenderer.prototype.build_node_title = function(node) {
  return build_node_title(node);
};

function ClassificationRenderer() {
    BaseRenderer.call(this);
};

ClassificationRenderer.prototype = new BaseRenderer();

ClassificationRenderer.prototype.add_root_columns = function (row, rootNode) {
    var title = this.build_title(rootNode);
    row.find('.title .record-title').text(title).attr('title', title);
};

ClassificationRenderer.prototype.add_node_columns = function (row, node) {
    var title = this.build_title(node);
    row.find('.title .record-title').text(title).attr('title', title);
};

ClassificationRenderer.prototype.build_title = function(node) {
    return [node.identifier, node.title].join('. ');
};

function build_node_title(node) {
  var title_bits = [];

  if (node.parsed_title) {
    title_bits.push(node.parsed_title);
  } else if (node.title) {
    title_bits.push(node.title);
  };

  if (node.label) {
    title_bits.push(node.label);
  };

  if (node.dates && node.dates.length > 0) {
    node.dates.forEach(function(date) {
      if (date.expression) {
        if (date.type === 'bulk') {
          title_bits.push('<%= I18n.t("date_type_bulk.bulk") %>: ' + date.expression);
        } else {
          title_bits.push(date.expression);
        };
      } else if (date.begin && date.end) {
        if (date.type === 'bulk') {
          title_bits.push('<%= I18n.t("date_type_bulk.bulk") %>: ' + date.begin + '-' + date.end);
        } else {
          title_bits.push(date.begin + '-' + date.end);
        };
      } else if (date.begin) {
        if (date.type === 'bulk') {
          title_bits.push('<%= I18n.t("date_type_bulk.bulk") %>: ' + date.begin);
        } else {
          title_bits.push(date.begin);
        };
      };
    });
  };

  return title_bits.join(', ');
};

/**
 * @param {boolean} suppressed
 * @param {string} title
 * @return {htmlString}
 */
function recordTitleHandler(suppressed, title) {
  const suppressedMarkup = `<span class="label label-info"><%= I18n.t("states.suppressed") %></span>`;

  return suppressed ? `${suppressedMarkup} ${title}` : title;
}

function dragHandleMarkup() {
  const rows = [8, 12, 16, 20, 24, 28];
  const cols = [10, 14, 18];

  const bs4Gray700 = '#495057'; // Bootstrap 4's $gray-700
  const faGripVertical = `
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="${bs4Gray700}"
      width="40%"
      role="presentation"
      viewBox="0 0 320 512">
      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path d="M40 352l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zm192 0l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 320c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 192l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40zM40 160c-22.1 0-40-17.9-40-40L0 72C0 49.9 17.9 32 40 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0zM232 32l48 0c22.1 0 40 17.9 40 40l0 48c0 22.1-17.9 40-40 40l-48 0c-22.1 0-40-17.9-40-40l0-48c0-22.1 17.9-40 40-40z"/>
    </svg>
  `;

  return `<span class="pl-1">${faGripVertical}</span>`;
}
