// header customisations

// support input appended to navbar search field
.navbar-search .input-append {
   margin-bottom: 0;
}

.navbar-search .input-append input {
   float: left;
}

.navbar-search .input-append .btn-group {
   display: inline-block;
   padding: 0;
}

.navbar-search .input-append .btn-group .btn {
   margin-left: -1px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

// Login Form
.login .btn.btn-primary {
   width: 100%;
   margin-left: 0;
}