<h1>Import#upload</h1>
<p>Find me in app/views/import/upload.html.erb</p>
<% form_tag(csv_upload_invitations_path(), { :multipart => true }) do %>
  <%= file_field_tag "file" %>
  <%= submit_tag("upload") %>
<% end %>