<%
   section_id = "location_functions" if section_id.blank?
%>
<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= t("location_function._plural")%></h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <table class="table table-striped table-bordered table-condensed table-hover">
        <tbody>
        <% ASUtils.wrap(functions).each do |location_function| %>
          <tr>
            <td><%= t("enumerations.location_function_type.#{location_function['location_function_type']}", :default => location_function['location_function_type']) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
