<%= setup_context :object => @user, :title => @user.username %>

<div class="d-flex">
   <div class="col-md-3">

   </div>
   <div class="col-md-9">
    <div class="record-pane">
     <%= readonly_context :user, @user do |readonly| %>
      <h2><%= @user.name %>  <span class="label label-info badge"><%= t("user._singular") %></span></h2>

      <section id="basic_information">
        <h3>Profile</h3>
        <p>User info to be seen by system administrators.</p>
        <p>User info to be seen by other users.</p>
        
      </section>
     <% end %>
    </div>
   </div>
</div>
