<% if not accessions.empty? %>
  <section id="accessions">
    <h3><%= I18n.t("accession._plural") %></h3>
    <ul class="results-list">
      <% accessions.each do |accession| %>
        <li class="result">
          <h4>
            <%= icon_for "accession" %>
            <%= link_to accession['_resolved']['title'], {:controller => :records, :action => :accession, :id => JSONModel(:accession).id_for(accession['ref'])} %>
          </h4>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>