<% if file_versions.length > 0 %>
  <section id="file_versions">
    <h3><%= I18n.t("file_version._plural") %></h3>
    <ul class="results-list">
      <% file_versions.each do |file| %>
        <li class="result">
          <% if file.embed %>
            <%= render_aspace_partial :partial => "file_version_embed/#{file.embed_type}", :locals => {:file => file} %>
          <% elsif  file.uri && file.uri.scheme && file.uri.scheme.match(/^http/) %>
            <%= link_to file.uri.to_s, file.uri.to_s %>
          <% else %>
            <%= file['file_uri'] %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
