<% if not records.empty? %>
  <section id="linked_instances">
    <h3><%= I18n.t("instance._plural") %></h3>
    <ul class="results-list">
      <% records.each do |record| %>
        <li class="result">
          <h4>
            <%= icon_for record["_resolved"]["jsonmodel_type"] %>
            <%= link_to record['_resolved']['title'], {:controller => :records, :action => record["_resolved"]["jsonmodel_type"].intern, :id => JSONModel(record["_resolved"]["jsonmodel_type"].intern).id_for(record['ref'])} %>
          </h4>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>