<% render_node_text = lambda do | text | %>
  <div class="note-content">
    <%= clean_note(text.strip).html_safe %>
  </div>
<% end %>
<% if notes.length > 0 %>
  <section id="notes">
    <h3><%= I18n.t("note._plural") %></h3>
    <ul class="results-list">
      <% notes.each do |note| %>
        <li>
          <%
            if note['label']
              label_for_note = note['label']
            elsif note['type']
              label_for_note = I18n.t("enumerations.#{note['jsonmodel_type']}_type.#{note['type']}", :default => note['type'])
            else
              label_for_note = I18n.t("note.#{note['jsonmodel_type']}", :default => note['jsonmodel_type'])
            end
          %>
          <h4><%= label_for_note %></h4>
          <div class="well note-contents">
            <% Array(note['content']).each do |note_content| %>
              <% render_node_text.call(note_content) %>
            <% end %>
            <% Array(note['subnotes']).each do |subnote| %>
              <% Array(subnote['content']).each do |note_content| %>
                <% render_node_text.call(note_content) %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>