<% if not resources.empty? %>
  <section id="resources">
    <h3><%= I18n.t("resource._plural") %></h3>
    <ul class="results-list">
      <% resources.each do |resource| %>
        <li class="result">
          <h4>
            <%= icon_for "resource" %>
            <%= link_to title_or_finding_aid_filing_title(resource['_resolved']), {:controller => :records, :action => :resource, :id => JSONModel(:resource).id_for(resource['ref'])} %>
          </h4>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
