<div class="title-pane">
  <div class="row-fluid">
    <div class="span3">

    </div>
    <div class="span9">
      <h2><%= record_title %>
        <a id="staff-link" target="_blank" class="btn btn-primary hide">Edit</a>
      </h2>
    </div>
  </div>
</div>
