<%
   record_title = @classification.title
   set_title(record_title)
%>

<div class="title-pane">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span9">
      <h2><%= record_title %></h2>
    </div>
  </div>
</div>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span9">

      <%= render_aspace_partial :partial => "components", :locals => {
          :record_type => "classification",
          :root_uri => @classification.uri,
          :current_node_uri => @classification.uri,
      } %>

    </div>
  </div>
</div>
