<%
   record_title = @classification.title
   set_title(record_title)
%>

<div class="title-pane">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span9">
      <h2><%= record_title %></h2>
    </div>
  </div>
</div>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span9">

      <% show_term = lambda do |term| %>
        <li><%= link_to("#{term['identifier']}. #{term['title']}",
                        {
                          :controller => :search,
                          :action => :search,
                          :term_map => {term['record_uri'] => term['title']}.to_json
                        }.merge(params_for_search({
                          "add_filter_term" => {"classification_uris" => term['record_uri']}.to_json
                        }))) %></li>
        <% if !term['children'].empty? %>
          <ul>
            <% term['children'].each do |node| %>
              <% show_term.call(node) %>
            <% end %>
          </ul>
        <% end %>
      <% end %>

      <ul>
        <% show_term.call(@tree_view['whole_tree']) %>
      </ul>
    </div>
  </div>
</div>
