<% define_template("accession_related_resource",  jsonmodel_definition(:accession)) do |form| %>
  <div class="subrecord-form-fields">
    <%= render_aspace_partial :partial => "resources/linker", :locals => { :form => form }%>
  </div>
<% end %>
