<div class="archives-tree-collection">
  
</div>
<div class="archives-tree">
  <ul class="jstree-classic">
    <li id="root" class="collection" rel="collection">
      <a href="#">New Collection</a>
      <ul>
		    <li id="newAnalogObject" class="analog selected" rel="analog"><a href="#">New Analog Object</a></li>
		  </ul>
		</li>
	</ul>
</div>