<div class="btn-group" style="float: right">
   <% if @collection_id %>
      <%= link_to "Edit", {:controller=>:collections, :action=>:edit, :id=>@collection_id, :anchor=>"archival_object_#{@archival_object.id}"}, :class=>"btn btn-small" %>
   <% end %>
</div>

<h2><%= @archival_object.title %> <span class="label label-info">Archival Object</span></h2>
<br/>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#basic-information" data-toggle="tab">Basic Information</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="basic-information">
      <%= render :partial=>"archival_objects/display/basic_information" %>
    </div>
  </div>
</div>
