<div class="record-toolbar d-flex align-items-center">
  <div class="save-changes">
    <button type="submit" class="btn btn-primary btn-sm"><%= t("actions.save_prefix") %></button>
  </div>
  <div class="btn-toolbar ml-auto select-resource">
    <div class="btn-group">
      <button type="submit" class="btn btn-primary btn-sm"><%= t("actions.select_resource") %></button>
    </div>
  </div>
  <br style="clear:both" />
</div>
