<div class="record-toolbar">
  <div class="pull-left save-changes">
    <button type="submit" class="btn btn-primary btn-sm"><%= I18n.t("actions.save_prefix") %></button>
  </div>
  <div class="btn-toolbar pull-right ml-auto select-resource">
    <div class="btn-group">
      <button type="submit" class="btn btn-primary btn-sm"><%= I18n.t("actions.select_resource") %></button>
    </div>
  </div>
  <br style="clear:both" />
</div>
