<%= render :partial=>"shared/breadcrumb", :locals=>{:trail=>[link_to("Browse Archival Objects", :controller=>:archival_objects, :action=>:index),"New Archival Object"]} %>
<div class="row-fluid">
   <div class="span3">
     <div class="archives-tree-container well">
      <!-- <div class="archives-tree-title">Container Hierarchy</div> -->
      <%= render :partial=>"collections/hierarchy", :locals=>{:selected=>"new"} %>
      <div class="btn-toolbar archives-tree-toolbar">         
        <!-- <div class="btn-group"><a class="btn btn-mini" href="#">Link to a Collection</a></div>-->
      </div> <!-- btn-toolbar archives-tree-toolbar -->
    </div> <!-- well -->
   </div> <!-- span3 -->
   <div class="span9" id="archival_object_container">
      <%= form_for @archival_object, :as => "archival_object", :url=>{:action=>:create}, :html=>{:class=>'form-horizontal'} do |f| %>
         <%= render :partial=>"archival_objects/form_container", :locals=>{:f => f} %>
      <% end %>
   </div>
</div>