<%= render :partial=>"shared/breadcrumb", :locals=>{:trail=>[link_to("Browse Archival Objects", :controller=>:archival_objects, :action=>:index), "New Archival Object"]} %>
<div class="row-fluid">
   <div class="span3">
      <div class="well">
         <p>This is where the tree will go.</p>
      </div>
   </div>
   <div class="span9">
      <div class="btn-group" style="float: right">
        <button class="btn">Edit Archival Object</button>
        <button class="btn">Delete</button>
      </div>
      <h2>Test Archival Object <span class="label label-info">Archival Object</span></h2>
      
      <div class="row-fluid label-and-value">
         <div class="span3">Identifier</div>
         <div class="span9">ABCD 1234 XYZP 5678</div>
      </div>
   </div>
</div>