<% if not children.blank? 
   target_action = controller.action_name != "new" ? controller.action_name : "edit"
%>

   <ul>
      <% children.each do |child| %>
         <li class="analog <% if selected.to_s === child['id'].to_s %>selected<% end %>" rel="analog" id="<%= child['id'] %>">
            <% if child['id'].to_s === "new" %>
               <a href="#"><%= child['title'] %></a>
            <% else %>
               <%= link_to child['title'], :controller=>:archival_objects, :action=>target_action, :id=>child['id'], :collection_id=>collection_id %>
            <% end %>
            <%= render :partial=>"collections/hierarchy_children", :locals=>{:children=>child['children'], :collection_id=>collection_id, :selected=>selected} %>
         </li>        
      <% end %>
   </ul>
<% end %>