<div id="archives_tree" class="archives-tree"></div>
<div id="archives_tree_toolbar"></div>

<script>
   var collection_tree_data = <%= @collection_tree.to_json.html_safe %>;
</script>

<div id="tree_template"><!--
   {macro render_children(nodes)}
      {if nodes.length > 0}
      <ul>
         {for node in nodes}
            <li id="${node.id}" class="analog" rel="archival_object">
               <a href="javascript:void(0)">${node.title}</a>
               ${render_children(node.children)}
            </li>
         {/for}
      </ul>
      {/if}
   {/macro}
   
   {macro render_collection(node)}
      <li id="${node.collection_id}" class="collection" rel="collection">
         <a href="javascript:void(0)">${node.title}</a>
         ${render_children(tree.children)}
      </li>
   {/macro}
   
   <ul class="jstree-classic">
      ${render_collection(tree)}
   </ul>
--></div>

<div id="tree_toolbar_template"><!--
   <div class="btn-toolbar">         
     
   </div>
--></div>

<div id="tree_toolbar_addchild_template"><!--
   <div class="btn-group dropup">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
      Add Child
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
         <a href="javascript:void(0);">
            <span class='icon-file'></span> Analog Object
         </a>         
      </li>
    </ul>
  </div>
--></div>

<div id="tree_toolbar_addsibling_template"><!--
    <div class="btn-group dropup">
     <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
       Add Sibling
       <span class="caret"></span>
     </a>
     <ul class="dropdown-menu">
       <li>
          <a href="javascript:void(0);">
             <span class='icon-file'></span> Analog Object
          </a>         
       </li>
     </ul>
   </div>
--></div>