<div class="btn-group pull-right custom-action">
  <button class="btn btn-small" data-instance-type="analog-instance"><%= I18n.t("actions.add") %> <%= I18n.t("instance._singular") %></button>
  <button class="btn btn-small " data-instance-type="digital-instance"><%= I18n.t("actions.add") %> <%= I18n.t("digital_object._singular") %></button>
</div>
