<div class="btn-group ml-auto custom-action mr-36px">
  <button class="btn btn-sm btn-default" data-instance-type="sub-container"><%= t("sub_container._frontend.action.add") %></button>
  <button class="btn btn-sm btn-default" data-instance-type="digital-instance"><%= t("instance._frontend.action.add_digital_object") %></button>
</div>
