<div class="btn-group pull-right custom-action">
  <button class="btn btn-sm btn-default" data-instance-type="sub-container"><%= I18n.t("sub_container._frontend.action.add") %></button>
  <button class="btn btn-sm btn-default" data-instance-type="digital-instance"><%= I18n.t("instance._frontend.action.add_digital_object") %></button>
</div>
