<div id="instance_form_template"><!--
  <%= f.with_jsonmodel("instances[]", {}, :instance, :index => "${index}") do %>
    <% render :partial => "instances/form", :locals => {:f => f, :index => "${index}"} %>
  <% end %>
--></div>