<div class="job-status">
	<span class="<%= badge_class_for_status(record["status"]) %>">
		<%= t("job.status_#{record["status"]}", :default => record["status"]) %>
		<% if record["status"] === "queued" %>
			- <%= t("job.queue_position", :position => (record["queue_position"].to_i + 1)) %>
		<% end %>
	</span>
</div>
