<div class="job-status">
	<span class="<%= badge_class_for_status(record["status"]) %>">
		<%= I18n.t("job.status_#{record["status"]}", :default => record["status"]) %>
		<% if record["status"] === "queued" %>
			- <%= (record["queue_position"].to_i + 1).ordinalize %>
		<% end %>
	</span>
</div>
