<% define_template "linked_record" do |form| %>
  <div class="subrecord-form-fields" data-type="FOOOOOOO">
    <%= form.label_and_select("role", form.options_for("role", JSONModel(:event).schema["properties"]["linked_records"]["items"]["properties"]["role"]["enum"])) %>
    <%= render :partial => "events/record_linker", :locals => {:form => form} %>
  </div>
<% end %>
