<% define_template("resource_related_accessions",  jsonmodel_definition(:resource)) do |form| %>
  <div class="subrecord-form-fields">
    <%= render :partial => "accessions/linker", :formats => [:html], :handlers => [:erb], :locals => { :form => form }%>
  </div>
<% end %>
