<% define_template("resource_related_accessions",  jsonmodel_definition(:resource)) do |form| %>
  <div class="subrecord-form-fields">
    <%= render_aspace_partial :partial => "accessions/linker", :locals => { :form => form }%>
  </div>
<% end %>
