$black: #00171f;
$white: #ffffff;
$darkblue: #05538a;
$midblue: #007eaf;
$lightblue: #34b6e4;
$darkgrey: #888888;
$grey: #cccccc;
$lightgrey: #eeeeee;
$highlight: #f7d309;

/* this is where you can change colors for your institution */

$primary-color: $lightblue;
$secondary-color: $midblue;
$accent-color: $darkblue;
$border-accent: $darkblue;
$border: $grey;
$image-background: $grey;
$row-background: $lightgrey;
$button-background: $lightblue;
$alt-button-background: $lightgrey;
$alt-button-color: $darkgrey;


$collection-color: #e01919;
$subject-color: #fe8534;
$container-color: #14af26;
$agent-color: #b700cf;
$record-color: #de1965;
$repository-color: #7608b5;
$classification-color: #015189;
$accession-color: $collection-color;
$digital-object-color: $collection-color;
$folder-color: #009fcf;

