<div class="subform external-document-fields">
  <a href="javascript:void(0)" class="btn btn-mini pull-right subform-remove"><span class='icon-remove'></span></a>
  <div class="external-document-container">
    <%= f.label_and_textarea :title %>
    <%= f.label_and_field :location %>
  </div>
</div>