<div id="external_document_form_template"><!--
  <%= f.with_jsonmodel("external_documents[]", {}, :external_document, :index => "${index}") do %>
    <% render :partial => "external_documents/form", :locals => {:f => f, :index => 1} %>
  <% end %>
--></div>
