<% define_template "external_document", jsonmodel_definition(:external_document) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textarea "title" %>
    <%= form.label_and_textarea "location" %>
    <% loc_uri = (form["location"] || "").slice(URI.regexp) %>
    <% unless loc_uri.nil? %>
      <%= form.label_with_field("document_link", link_to(loc_uri, loc_uri, {:target => "_blank"})) %>
    <% end %>
    <%= form.label_and_boolean "publish", {}, user_prefs["publish"] %>
  </div>
<% end %>
