<% define_template "external_document", jsonmodel_definition(:external_document) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textarea "title" %>
    <%= form.label_and_textarea "location" %>
    <%= form.label_and_boolean "publish", {}, form.default_for("publish") %>
  </div>
<% end %>
