<% define_template "external_document", jsonmodel_definition(:external_document) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textarea "title" %>
    <%= form.label_and_textfield "location" %>
  </div>
<% end %>
