<div class="row">
   <div class="col-md-3">
   </div>

   <div class="col-md-9">
    <div class="record-pane">
      <h2><%= I18n.t("navbar.become-user") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= form_tag({:action => :become_user}, {:class => 'form-horizontal', :id => 'new_become_user'}) do |f| %>
        <input id="select-user" name="username" class="input-medium" type="text" autocomplete="off" placeholder="Username" />
        <input class="btn btn-primary" type="submit" value="<%= I18n.t("become-user.become-user") %>"/>
      <% end %>
    </div>
   </div>
</div>

