/* panel styles (BS 3) */

.panel-heading .accordion-toggle div:first-child span::before {
  font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
  content: '\e114';
}

.panel-heading .accordion-toggle.collapsed div:first-child span::before {
  content: '\e080';
}

.panel-group {
  &.details {
    .panel-collapse {
      background-color: #fafafa;
      &.in {
        padding-top: 8px;
        border-top: 1px solid #e5e5e5;
      }
    }
  }
  .panel-collapse.collapse {
    border-top: none;
  }
  .accordion-toggle {
    &.row {
      padding-bottom: 0;
    }
  }
}
