#assessment_attributes_form {
  .repo-attribute-drag-handle {
    cursor: move;
  }
  tr.ui-sortable-helper {
    td {
      width: 100%;
      display: block;
    }
  }
}
#form_assessment {
  .text-muted {
    font-weight: normal;
  }
}