.breadcrumb {
  border-bottom: 1px solid white;

  // patch to fix inline-block issue in IE8
  // https://github.com/twitter/bootstrap/issues/5455
  li {
    margin-right: 10px;
  }

  @include box-shadow(
    inset 0 -1px 0 rgba(0, 0, 0, 0.05),
    0 1px 10px rgba(0, 0, 0, 0.05)
  );

  .return-to-search {
    margin-top: -4px;
  }
  // fix accessibility contrast
  .breadcrumb-item.active {
    color: #5f5f5f;
  }
}
