.btn.btn-sm {
  [class^='icon-'],
  [class*=' icon-'] {
    margin-top: -1px;
  }
}

.btn-busy-icon {
  display: none;
}

.btn-default.bulktypebtn.active {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary.busy.disabled .btn-busy-icon {
  display: inline;
}

.btn .btn-busy-label,
.btn.busy .btn-label {
  display: none;
}

.btn-default.dropdown-toggle.last {
  &:hover,
  &:active {
    background-color: $gray-200;
  }
}

.btn-group > .btn-sm {
  &.disabled,
  &[disabled] {
    color: #000;
    background-color: #aaa;
  }
}

.record-toolbar .suppress-record {
  border-color: var(--secondary);
}

.suppress-record.disabled,
.unsuppress-record.disabled,
.delete-record.disabled,
.btn-danger.disabled,
.btn-danger[disabled='disabled'],
[data-allow-disabled] .btn.disabled {
  color: #000;
  background-color: #aaa;
  border-color: var(--secondary);
}

.btn.busy .btn-busy-label {
  display: inline;
}

.input-group .dropdown-menu,
.btn-group .dropdown-menu .input-prepend .dropdown-menu {
  font-size: $baseFontSize;
}

.dropdown-menu {
  &.open-aligned-right {
    left: auto;
    right: 0;
  }

  a.disabled,
  a[disabled='disabled'] {
    @include opacity(50);
    &:hover {
      background: transparent !important;
      color: #333 !important;
    }
  }
}

.dropdown-submenu a:focus .dropdown-menu {
  display: block;
}
