@import "mixins";

body {
  position: relative;
}

h2 > .label {
  margin-top: @baseLineHeight / 2;
  vertical-align: top;
  font-size: 40%;
}

.tab-content {
  overflow: visible;
}

.record-pane {
  margin-right: -15px;
  padding: 10px;
  border-top: none;

  h2 {
    margin-top: 0;
  }
}

.action-show {
  section section {
    margin: 0 20px;
  }
}

.table {
  margin-bottom: 5px;
}

/* Tooltip overrides */
.tooltip {
  .tooltip-inner {
    text-align: left;
    line-height: @baseLineHeight;
    font-weight: normal;

    .tooltip-close {
      float: right;
      margin-left: 5px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
}
.record-pane {
  .tooltip {
    &.left {
      margin-left: -10px !important;
    }
  }
}

.locked .alert { 
    display: none; 
}

.alert {
  &.with-hide-alert {
    position: relative;
  }
  .hide-alert {
    position: absolute;
    top: 8px;
    right: 10px;

    .icon {
      .opacity(25);
    }
    &:hover {
      .icon {
        .opacity(50);
      }
    }
  }
}

td .btn-group {
  display: flex;
  white-space: nowrap;
}

#font {
  #family {
    .serif() {
      font-family: @serifFontFamily;
    }
    .sans-serif() {
      font-family: @sansFontFamily;
    }
    .monospace() {
      font-family: @monoFontFamily;
    }
  }
  .shorthand(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }
  .sans-serif(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
    #font > #family > .sans-serif;
    #font > .shorthand(@size, @weight, @lineHeight);
  }
}

// parsed content <emph> becomes <span class='emph ...'>...
.emph {
  &.render-none {font-style: italic;}
  &.render-bold, &.render-bolddoublequote, &.render-bolditalic, &.render-boldsinglequote, &.render-boldsmcaps, &.render-boldunderline {font-weight: bold}
  &.render-italic, &.render-bolditalic {font-style: italic;}
  &.render-smcaps, &.render-boldsmcaps {font-variant: small-caps;}
  &.render-sub {vertical-align: sub; font-size: 80%;}
  &.render-super {vertical-align: super; font-size: 80%;}
  &.render-underline {text-decoration: underline;}
  &.render-nonproport {color: #666;}
  &.render-doublequote:before, &.render-bolddoublequote:before {content: '"'}
  &.render-doublequote:after, &.render-bolddoublequote:after {content: '"'}
  &.render-singlequote:before, &.render-boldsinglequote:before {content: "'"}
  &.render-singlequote:after, &.render-boldsinglequote:after {content: "'"}
}

// Atomic/utility classes
.mt0 {
  margin-top: 0;
}

.p30px {
  padding: 30px;
}

@media (max-width: 767px) {
  .xs-py15px {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .sm-mxn15px {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 992px) {
  .md-mt20px {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .lg-min-w-450px {
    min-width: 450px;
  }
}
