@import "variables";

/* custom controls-accordion for radio driven accordion */
.controls-accordion .accordion-group {
   border: none;
}

.controls-accordion .accordion-group:first-child {
   margin-top: 5px;
}

/* identifier fields */
.identifier-fields input {
   width: auto;
   margin-right: 4px;
}

.form-horizontal .form-actions {
  padding-left: 20px;
}

.form-horizontal .form-actions .btn-cancel {
  float: right;
}

.form-actions .btn-submit-group {
   float: left;
}

#save_and_finish_editing {
  margin-left: 4px;
  float: right;
}

.linker-list {
	max-height: 240px;
}

.linker-list ul {
   margin: 0;
   list-style: none;
}
.linker-list li {
   padding:0;
}
.linker-list label {
   padding: 5px;
}
.linker-list label:hover {
   background-color: #F1f1f1;
}
.linker-wrapper.input-append {
      width: 428px;
      .token-input-list {
         float: left;
      }
      .btn-group {
         float:left;
         .btn {
            .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
         }
      }
}

#new_subject .terms-container .row-fluid {
	margin-bottom: 5px;
}

.inputs-fill-it-up input,
.inputs-fill-it-up select {
	width: 100%;
}