// header customisations

.navbar {
  margin-bottom: 0;
}

// support input appended to navbar search field
.navbar .input-append, 
.navbar .input-prepend {
  margin-bottom: 0;
}

.navbar-search .input-append input {
  float: left;
}

.navbar .input-append .btn-group {
  display: inline-block;
  padding: 0;
  margin-top: 0;
}

.navbar .input-append .btn {
  margin-left: -1px !important;
  .border-radius(0px) !important;
}

.navbar .input-append .btn.last {
  .border-radius(0 3px 3px 0) !important;
}

.navbar .input-prepend .btn {
  margin-right: -1px;
}

// Login Form
.login .btn.btn-primary {
  width: 100%;
  margin-left: 0;
}

.login-message {
  display: none !important;
}

.error .login-message {
  display: block !important;
}

.login .alert-success {
  display: none;
}

// user logged in, repository container
.user-container,
.repository-container {
  margin-left: 10px;
  
  .dropdown-toggle, .btn {
    margin-top: 5px !important;
  }
}
.user-label > span,
.repository > span {
  margin-right: 5px;
}
.user-container .dropdown-menu {
  min-width: 80px;
}
.user-label,
.repository-label {
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -ms-transition: width 500ms;
  -o-transition: width 500ms;
  transition: width 500ms;


  padding: 5px 9px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0 0 !important;
  .box-shadow(~"inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15)");
  .border-radius(4px 0 0 4px);
  #font > .sans-serif(13px, normal, 1);
  .navbarVerticalAlign(28px); // Vertically center in navbar
  margin-bottom: 0;
  line-height: @baseLineHeight;
  background-color: #e9e9e9;

  overflow: hidden;
  width: 60px;
  min-width: 60px;
  box-shadow: inset -2px 0px 3px #CCC;

  &.empty {
    width: auto;
    min-width: auto;
  }
}

.user-label:hover,
.repository-label:hover {
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -ms-transition: width 500ms;
  -o-transition: width 500ms;
  transition: width 500ms;
}

.dropdown-menu {
  .boring-link {
    display: inline;
    padding: 0;
    clear: none;
    font-weight: normal;
    line-height: @baseLineHeight;
    color: @linkColor;
    white-space: normal;
  }
}
