/* Context Help related styles */
.context-help {
  font-size: 1rem;
  @include transition(color 0.5s);

  color: #595959;
  position: static !important;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .context-help-icon {
    color: #595959;
  }

  &:hover {
    color: #595959;
    .context-help-icon {
      color: #595959;
    }
  }
}
// h3 > .context-help {
//   float: right;
//   margin: 6px 6px 0 0;
// }

// h4 > .context-help {
//   float: right;
//   margin: 2px 6px 0 0;
// }

.record-pane > .context-help {
  float: right;
}
