.login .btn.btn-primary {
  width: 100%;
  margin-left: 0;
}

.login-message {
  display: none !important;
}

.error .login-message {
  display: block !important;
}

.login [class*="alert-"] {
  display: none;
}

.inline-login-modal {
  width: 300px;
  margin-left: -150px;

  input {
    width: 250px;
  }
  .btn {
    width: 265px;
  }
}
