#notes {
  .subrecord-form-fields {
    &.notes-readonly {
      background-color: #f6f6f6 !important;
    }
    .tabbable {
      .nav-tabs {
        margin: 0;
      }
      .tab-content {
        background-color: white;
        padding: 10px;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: none;
      }
    }
  }

  .emph {
    &.render-none {
      font-style: italic;
    }
    &.render-bold,
    &.render-bolddoublequote,
    &.render-bolditalic,
    &.render-boldsinglequote,
    &.render-boldsmcaps,
    &.render-boldunderline {
      font-weight: bold;
    }
    &.render-italic,
    &.render-bolditalic {
      font-style: italic;
    }
    &.render-smcaps,
    &.render-boldsmcaps {
      font-variant: small-caps;
    }
    &.render-sub {
      vertical-align: sub;
      font-size: 80%;
    }
    &.render-super {
      vertical-align: super;
      font-size: 80%;
    }
    &.render-underline {
      text-decoration: underline;
    }
    &.render-nonproport {
      color: #666;
    }
    &.render-doublequote::before,
    &.render-bolddoublequote::before {
      content: '"';
    }
    &.render-doublequote::after,
    &.render-bolddoublequote::after {
      content: '"';
    }
    &.render-singlequote::before,
    &.render-boldsinglequote::before {
      content: "'";
    }
    &.render-singlequote::after,
    &.render-boldsinglequote::after {
      content: "'";
    }
  }
}

.add-item-btn-bottom {
  margin: 5px;
}
