@media print {
  * {
    margin-top: 0 !important;
    margin-bottom: 2pt !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    box-shadow: none !important;
  }

  body {
    font-size: 10pt !important;
  }

  h1 {
    font-size: 1.3em !important;
  }

  h2 {
    font-size: 1.2em !important;
  }

  h3 {
    font-size: 1.1em !important;
  }

  h4 {
    font-size: 1em !important;
  }

  h5 {
    font-size: 0.9em !important;
  }

  h6 {
    font-size: 0.8em !important;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 10pt !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid !important;
  }

  figure,
  img,
  ul {
    break-inside: avoid !important;
  }

  header,
  .breadcrumb-row,
  .repository-header,
  .col-md-3:has(> #archivesSpaceSidebar),
  .record-toolbar,
  .panel-default .panel-heading,
  #accession_classifications_,
  .sidebar,
  .actions,
  .table-record-actions,
  #linked_assessments > h3 > a.btn,
  footer {
    display: none !important;
  }

  .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .subrecord-form-list,
  .subrecord-form-dummy,
  .subrecord-form {
    padding: 0 !important;
    margin: 0 !important;
  }

  // Expand any accordions and "rotate" their toggle icon
  .collapse {
    display: block !important;
    width: 100% !important;
    visibility: visible !important;
  }

  .panel-heading .accordion-toggle div:first-child span::before,
  .panel-heading .accordion-toggle.collapsed div:first-child span::before {
    content: '\e114';
  }

  label,
  .form-group > .control-label {
    font-weight: bold;
  }

  label::after,
  .form-group > .control-label::after {
    content: ':';
  }

  .token,
  li.token-input-token {
    border-color: #000;
  }

  // Make the record pane take up the full width of the page
  .col-md-9:has(> .record-pane) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .print-hide {
    display: none !important;
  }

  @page {
    margin: 1cm;
  }
}
