@import "archivesspace/variables";
@import "bootstrap/mixins";

#rde_form {
  .sections {
    #gradient > .vertical(@navbarBackgroundHighlight, darken(@navbarBackgroundHighlight, 3%));
    th {
      border-bottom-color: darken(@navbarBackgroundHighlight, 6%);
    }
  }
  .fieldset-labels {
    #gradient > .vertical(darken(@navbarBackgroundHighlight, 3%), darken(@navbarBackgroundHighlight, 6%));

    th {
      border-top-color: darken(@navbarBackgroundHighlight, 6%);
    }
  }

  .sections, .fieldset-labels {
    th {
      &.required {
        background-image: asset-url('archivesspace/required_loud.png');
        background-repeat: no-repeat;
        background-position: 2px center;
        padding-left: 16px;
      }

      &.conditionally-required {
        background-image: asset-url('archivesspace/conditionally_required.png');
        background-repeat: no-repeat;
        background-position: 2px center;
        padding-left: 16px;
      }
    }
  }

  th {

    &.fieldset-label {
      cursor: pointer;
    }

    &.sticky {
      #gradient > .vertical(#dcf1fa, #caecfa);
    }

    .kiketable-colsizable-handler {
      background-image: asset-url('archivesspace/drag_handle.png');
      border: none;
      width: 4px;
    }
  }
  td {
    &.form-group {
      &.has-error {
        background-color: @errorBackground;
      }
    }

    &.form--group {
      min-width: 60px;
      select {
        width: 100%;
      }
      input {
        padding: 4px 1%;
        width: 98%;
      }
      overflow: auto;
    }
  }
  tr {
    td.status {
      .valid, .invalid {
        display: none;
        margin-top: 0.5em;
      }
    }
    &.valid {
      td {
        background-color: @successBackground;
      }
      td.status {
        .valid {
          display: block;
        }
      }
    }
    &.invalid {
      td.status {
        background-color: @errorBackground;
        .invalid {
          display: block;
        }
      }
    }
  }
  .add-rows-form {
    padding:8px;

    button {
      margin-top: 4px;
    }
  }
  .rde-inline-form {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #FAFAFA;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;

    .nav-tabs {
      margin: 0;
      a {
        padding: 4px 8px;
      }
    }
    .tab-content {
      border: 1px solid #ddd;
      background-color: white;
      padding: 10px;
      margin-top: -1px;
      .border-top-radius(0);
      .border-right-radius(0);
      .border-bottom-radius(4px);
      .border-left-radius(0px);
    }
    .btn-cancel {
      float: none;
    }
  }
  #columnOrderUp {
    position: absolute;
    top: 70px;
    margin-left: 10px;
  }
  #columnOrderDown {
    position: absolute;
    top: 100px;
    margin-left: 10px;
  }

  .error-summary {
    position: absolute;
    .opacity(90);
    z-index: 1;
    .box-shadow(1px 1px 3px #AAA);
    margin-left: -5px;
    border-top: none;
    background-color: @errorBackground;
    color: @errorText;
    max-width: none;
    top: initial !important;

    .error-summary-header {
      overflow: hidden;

      .error-summary-header-text {
        display: none;
        float: left;
        color: #444;
      }
    }

    .hide-error-summary {
      float: right;
      display: block;
      .opacity(60);

      &:hover {
        .opacity(100);
      }
    }

    .hide-error-summary, .error {
      display: none;
    }

    .error {
      position: relative;
      padding-right: 20px;
      cursor: pointer;

      .icon {
        position: absolute;
        right: 0;
        .opacity(60);
      }

      &:hover {
        .icon {
          .opacity(100);
        }
      }
    }
  }
  tbody tr {
    .opacity(80);
  }
  .last-focused {
    .opacity(100);

    td {
      background-color: #d5effa;
    }
  }
  .last-focused {
    .error-summary {
      display: block;
      margin-top: 0.9em;
      .border-top-radius(0);
      .border-right-radius(0);
      .border-bottom-radius(4px);
      .border-left-radius(0px);

      .show-error-summary {
        padding: 4px;
        display: block;
        text-align: center;
      }
    }
  }
  .show-inline-errors {
    .last-focused {
      .error-summary {
        padding: 5px 10px;
        margin-top: 1.1em;
        .border-top-radius(4px);
        .border-right-radius(4px);
        .border-bottom-radius(4px);
        .border-left-radius(4px);

        .hide-error-summary, .error {
          display: block;
        }
        .show-error-summary {
          display: none;
        }
        .error-summary-header {
          border-bottom: 1px dotted #AAA;
          margin-bottom: 10px;
          padding-bottom: 5px;

          .error-summary-header-text {
            display: block;
          }
        }
      }
    }
    .valid {
      .error-summary {
        display: none;
      }
    }
  }
}
