@import 'archivesspace/variables';
@import 'archivesspace/mixins';
@import 'bootstrap/mixins';

#rde_form {
  .sections {
    #gradient {
      @include vertical($navbarBackgroundHighlight, darken($navbarBackgroundHighlight, 3%));;
    }
    th {
      border-bottom-color: darken($navbarBackgroundHighlight, 6%);
    }
  }

  // Overwrite Bootstrap for sticky table header, ANW-919
  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  thead tr:first-child th {
    position: sticky;
    top: -16px; // 0 leaves visible space above row
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    background: #fafafa;
  }
  thead tr:first-child th:last-of-type {
    border-right-width: 0;
  }

  thead tr:nth-child(2) th {
    position: sticky;
    top: 15px; // height of thead tr:first-child + thead tr:first-child th top
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
  }
  thead tr:nth-child(2) th:last-of-type {
    border-right-width: 0;
  }
  thead tr:nth-child(2) th.fieldset-label.kiketable-th:not(.sticky),
  thead tr:nth-child(2) th[data-section='empty'] {
    background: #fafafa;
  }

  thead tr:first-child th:first-of-type,
  thead tr:first-child th:last-of-type,
  thead tr:nth-child(2) th[data-section='empty'] {
    z-index: 3;
  }

  tbody tr td {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
  }
  tbody tr td:last-of-type {
    border-right-width: 0;
  }

  .fieldset-labels {
    #gradient {
      @include vertical(darken($navbarBackgroundHighlight, 3%), darken($navbarBackgroundHighlight, 6%));;
    }

    th {
      border-top-color: darken($navbarBackgroundHighlight, 6%);
    }
  }

  .dropdown-menu > .disabled > a {
    background-color: transparent;
  }

  .sections,
  .fieldset-labels {
    th {
      &.required {
        &::before {
          // apply required icon to the inner kiketable container
          display: none;
        }
        .kiketable-th-text {
          background-image: asset-url('archivesspace/required_loud.png');
          background-repeat: no-repeat;
          background-position: 2px center;
          padding-left: 16px;
        }
      }

      &.conditionally-required {
        &::before {
          // apply required icon to the inner kiketable container
          display: none;
        }
        .kiketable-th-text {
          background-image: asset-url(
            'archivesspace/conditionally_required.png'
          );
          background-repeat: no-repeat;
          background-position: 2px center;
          padding-left: 16px;
        }
      }
    }
  }

  th {
    &.fieldset-label {
      cursor: pointer;
    }

    &.sticky {
      #gradient {
        @include vertical(#dcf1fa, #caecfa);
      }
    }

    /* Fix https://archivesspace.atlassian.net/browse/AR-1211 */
    &.kiketable-th {
      height: 30px !important;
    }

    .kiketable-colsizable-handler {
      background-image: asset-url('archivesspace/drag_handle.png');
      border: none;
      width: 4px;
    }
  }
  td {
    &.form-group {
      &.has-error {
        background-color: $errorBackground;
      }
    }

    &.form--group {
      min-width: 60px;
      select {
        width: 100%;
      }
      input {
        padding: 4px 1%;
        width: 98%;
      }

      overflow: auto;
    }
  }
  tr {
    td.status {
      .valid,
      .invalid {
        display: none;
        margin-top: 0.5em;
      }
    }
    &.valid {
      td {
        background-color: $successBackground;
      }
      td.status {
        .valid {
          display: block;
        }
      }
    }
    &.invalid {
      td.status {
        background-color: $errorBackground;
        .invalid {
          display: block;
        }
      }
    }
  }
  .add-rows-form {
    padding: 8px;

    button {
      margin-top: 4px;
    }
  }
  .rde-inline-form {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #fafafa;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;

    .nav-tabs {
      margin: 0;
      a {
        padding: 4px 8px;
      }
    }
    .tab-content {
      border: 1px solid #ddd;
      background-color: white;
      padding: 10px;
      margin-top: -1px;
      @include border-top-radius(0);
      @include border-right-radius(0);
      @include border-bottom-radius(4px);
      @include border-left-radius(0);
    }
    .btn-cancel {
      float: none;
    }
  }
  #columnOrderUp {
    position: absolute;
    top: 70px;
    margin-left: 10px;
  }
  #columnOrderDown {
    position: absolute;
    top: 100px;
    margin-left: 10px;
  }

  .error-summary {
    position: absolute;
    @include opacity(90);

    z-index: 1;
    @include box-shadow(1px 1px 3px #aaa);

    margin-left: -5px;
    border-top: none;
    background-color: $errorBackground;
    color: $errorText;
    max-width: none;
    top: initial !important;

    .error-summary-header {
      overflow: hidden;

      .error-summary-header-text {
        display: none;
        float: left;
        color: #444;
      }
    }

    .hide-error-summary {
      float: right;
      display: block;
      @include opacity(60);

      &:hover {
        @include opacity(100);
      }
    }

    .hide-error-summary,
    .error {
      display: none;
    }

    .error {
      position: relative;
      padding-right: 20px;
      cursor: pointer;

      .icon {
        position: absolute;
        right: 0;
        @include opacity(60);
      }

      &:hover {
        .icon {
          @include opacity(100);
        }
      }
    }
  }
  tbody tr {
    @include opacity(80);
  }
  .last-focused {
    @include opacity(100);

    td {
      background-color: #d5effa;
    }
  }
  .last-focused {
    .error-summary {
      display: block;
      margin-top: 0.9em;
      @include border-top-radius(0);
      @include border-right-radius(0);
      @include border-bottom-radius(4px);
      @include border-left-radius(0);

      .show-error-summary {
        padding: 4px;
        display: block;
        text-align: center;
      }
    }
  }
  .show-inline-errors {
    .last-focused {
      .error-summary {
        padding: 5px 10px;
        margin-top: 1.1em;
        @include border-top-radius(4px);
        @include border-right-radius(4px);
        @include border-bottom-radius(4px);
        @include border-left-radius(4px);

        .hide-error-summary,
        .error {
          display: block;
        }
        .show-error-summary {
          display: none;
        }
        .error-summary-header {
          border-bottom: 1px dotted #aaa;
          margin-bottom: 10px;
          padding-bottom: 5px;

          .error-summary-header-text {
            display: block;
          }
        }
      }
    }
    .valid {
      .error-summary {
        display: none;
      }
    }
  }
}

// ANW-897 and ANW-347: Override jquery.kiketable.colsizable-1.1
// Show overflow on linker <td>
.kiketable-colsizable td.overflow-visible {
  overflow: visible;
}
