.pagination-centered {
  text-align: center;
}

.pagination {
  margin: 0;
}

#component_switch {
  border-bottom: 1px #eee solid;
  padding: $baseLineHeight / 2 0;
  margin-bottom: $baseLineHeight;

  #component_switch_checkbox {
    margin: 0;
  }
}

.advanced-search-container {
  // padding: 1rem 0;
  // margin-left: -15px;
  // background-color: #f5f5f5;
  // border-bottom: 1px solid #efefef;
  // border-top: 1px solid #efefef;
  // font-size: smaller;
  @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.065));

  .row {
    padding-bottom: 10px;
    padding-top: 10px;
    // border: 1px solid #efefef;
  }
}

.advanced-search-row-container > fieldset + fieldset {
  border-top: 1px solid #fff;
}

.search-group {
  width: 100%;

  .search-comparator {
    // vertical-align: bottom;
    // padding-bottom: 12px;
    width: 30%;
  }
  .search-value {
    text-align: left;
    width: 50%;
  }
}

.table-search-results {
  .col {
    img {
      max-width: 125px;
    }
  }
}

.advanced-search-date-fields .input-group.date {
  // column-gap: .5rem;
}
