#object_container {
  position: relative;
}

.archives-tree-container {
  margin: -14px -15px 10px -15px !important;
  padding: 10px 0 10px 0;
  position: relative;
  background-color: #F3F3F3;
  #gradient > .vertical(#F3F3F3, #EDEDED);
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #FFF;
  overflow: visible;
  width: auto !important;

  ul {
    clear: both;
  }

  > .archives-tree-title {
    background-color: #eee;
    background-color: rgba(0,0,0,.025);
    padding: 5px;
    margin: 0;
    font-weight: bold;
  }

  .expand-tree:hover,
  .retract-tree:hover {
    .opacity(100);
  }

  .retract-tree {
    display: none;
  }
  
  .spinner {
      display: none; 
      position: absolute;
      top: 25%;
      left: 50%;
      padding-right: 0 !important;
      font-size: 30px;
      margin-right: 10px !important;
  }
  
  #archives_tree_overlay {
    z-index: 100;
    opacity: 0.1; 
  }
  
  #archives_tree_toolbar {
    padding: 0 15px;

    > .btn-toolbar {
      border-bottom: 1px solid #E6E6E6;
      padding-bottom: 5px;
      margin-bottom: 6px;
    }

    .btn-group.move-node-menu .dropdown-submenu ul {
      max-width: 400px;
      max-height: 200px;
      overflow: auto;
    }

    a.move-node.disabled {
      color: #ddd !important;
    }
  }

  .tree-transfer-form {
    form {
      margin: 0;
    }
    fieldset {
      width: 300px;
      padding: 10px;
    }
    .form-actions {
      margin: 0;
    }
  }
}


.archives-tree-container.expanded {
  .box-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
  .opacity(95);
  z-index: 1000;
  background-color: #f9f9f9;

  .expand-tree {
    display:none;
  }

  .retract-tree {
    display: inline;
  }
}

.tree-navigation {
  float: right;
  margin: 0 0 0 4px;
}

.tree-loading-notice {
  width: 300px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  padding-top: 1em;
  .opacity(95);
  .box-shadow(3px 3px 10px rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.move-node-into-menu {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 400px;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@media (max-width: 600px) {
  #archives_tree_toolbar {
    .btn-success {
      display: none;
    }
  }
}
