#object_container {
  position: relative;
}

.archives-tree-container {
  margin: -14px -15px 10px -15px !important;
  padding: 10px 0 10px 0;
  position: relative;
  background-color: #f3f3f3;
  @include vertical(#f3f3f3, #ededed);

  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  overflow: visible;
  width: auto !important;

  ul {
    clear: both;
  }

  > .archives-tree-title {
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0.025);
    padding: 5px;
    margin: 0;
    font-weight: bold;
  }

  .expand-tree:hover,
  .retract-tree:hover {
    @include opacity(100);
  }

  .retract-tree {
    display: none;
  }

  .spinner {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    padding-right: 0 !important;
    font-size: 30px;
    margin-right: 10px !important;
  }

  #archives_tree_overlay {
    z-index: 100;
    opacity: 0.1;
  }

  #archives_tree_toolbar {
    padding: 0 15px;

    > .btn-toolbar {
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 5px;
      margin-bottom: 6px;
    }

    .btn-group.move-node-menu .dropdown-submenu ul {
      max-width: 400px;
      max-height: 200px;
      overflow: auto;
    }

    a.move-node.disabled {
      color: #ddd !important;
    }
  }

  .tree-transfer-form {
    form {
      margin: 0;
    }
    fieldset {
      width: 300px;
      padding: 10px;
    }
    .form-actions {
      margin: 0;
    }
  }
}

.archives-tree-container.expanded {
  @include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
  @include opacity(95);

  z-index: 1000;
  background-color: #f9f9f9;

  .expand-tree {
    display: none;
  }

  .retract-tree {
    display: inline;
  }
}

.tree-navigation {
  float: right;
  margin: 0 0 0 4px;
}

.tree-loading-notice {
  width: 300px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  padding-top: 1em;
  @include opacity(95);
  @include box-shadow(3px 3px 10px rgba(0, 0, 0, 0.6));

  z-index: 1;
}

.move-node-into-menu {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 400px;
}

/* stylelint-disable at-rule-no-vendor-prefix */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* stylelint-enable at-rule-no-vendor-prefix */

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@media (max-width: 600px) {
  #archives_tree_toolbar {
    .btn-success {
      display: none;
    }
  }
}

.spinner:not(:required) {
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0,
    rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0,
    rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0,
    rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0,
    rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
