<%= javascript_include_tag 'largetree' %>

<h4><%= heading_text %></h4>
<div class="infinite-tree-view largetree-container" id='tree-container'></div>

<script>

    function SimpleRenderer() {
        this.endpointMarkerTemplate = $('<tr class="end-marker" />');

        this.rootTemplate = $('<tr> ' +
            '  <td class="no-drag-handle"></td>' +
            '  <td class="title"></td>' +
            '</tr>');


        this.nodeTemplate = $('<tr> ' +
            '  <td class="drag-handle"></td>' +
            '  <td class="title"><span class="indentor"><button class="expandme"><i class="expandme-icon glyphicon glyphicon-chevron-right" /></button></span> </td>' +
            '</tr>');
    }

    SimpleRenderer.prototype.endpoint_marker = function () {
        return this.endpointMarkerTemplate.clone(true);
    }

    SimpleRenderer.prototype.get_root_template = function () {
        return this.rootTemplate.clone(false);
    }


    SimpleRenderer.prototype.get_node_template = function () {
        return this.nodeTemplate.clone(false);
    };

    SimpleRenderer.prototype.add_root_columns = function (row, rootNode) {
        row.find('a.record-title')
            .attr('href', rootNode.uri)
            .html(rootNode.parsed_title);
    }
    SimpleRenderer.prototype.add_node_columns = function (row, node) {
        row.find('a.record-title')
            .attr('href', node.uri)
            .html(node.parsed_title);
    };

    var root_uri = '<%= root_node_uri %>';
    var tree = new LargeTree(new TreeDataSource(root_uri + '/tree'),
        $('#tree-container'),
        root_uri,
        true,
        new SimpleRenderer(),
        function() {
            var tree_id = TreeIds.uri_to_tree_id('<%= current_node_uri %>');
            tree.setCurrentNode(tree_id, function() {
                // scroll to selected node
                tree.elt.scrollTo('#'+tree_id, 0, {offset: -50});
            });
        },
        $.noop);
</script>