<ul<% if dates.length == 1 %> class="dates-is-single-date"<% end %>>
    <% dates.each do |date|  %>
        <li class="dates"><%= inheritance(date['_inherited']).html_safe %> 
            <%= date['final_expression'] %> 
        </li>
    <% end %>
</ul>

