<form method="GET" action="<%= url_for + '/pdf' %>">
    <button class="btn btn-default page_action print">
        <i class="fa fa-file-pdf-o fa-3x"></i><br/><%= t('actions.print') %>
    </button>
</form>
