<%# displaying the children of a resource or object %>
<% if !tree['direct_children'].blank? %>
<ul class="tree children">
  <% tree['direct_children'].each do | child | %>
  <li><a href="<%= child['record_uri'] %>"><%= child['title'] %></a>
    <% if child['has_children'] %>
    <a href="javascript: go_deep(\"tree/<%= child['record_uri'] %>\")">*</a>
    <% end %>
  </li>
  <% end %>
</ul>

<% end %>
