   <% @result['json']['html'].keys.each do |type|
      note_struct  = get_note(@result['json'],type)
       if !note_struct['note_text'].blank? %>
        <div class="<%= type %> more" >
        <%= note.html_safe %><span class='inline-label'><%= note_struct['label'] %></span>
          <%= note_struct['note_text'].html_safe %>
       </div>
      <% end %>
    <% end %>
