<!-- single note -->
<%  if !note_struct['note_text'].blank? %>
    <div class="<%= type %>" >
     <h4><%= note_struct['label'] %></h4>
     <%= note_struct['note_text'].html_safe %>
     </div>
<% end %>
