<div id="main-content" class="row">

  
 <div class="warning col-sm-12">
   <h3>Unable to find record</h3>
   <p><b><%= @uri %></p>
   <% if @back_url.present? %>
   <a href="<%= @back_url %>" title="go back">Return to the previous page</a>
   <% end %>
 </div>
</div>
