<%

filter_term = {"location_uris" => record['uri']}.to_json
ajax_search_url = url_for({:controller => :search, :action => :do_search, :format => :json,
	:listing_only => true}.merge({"filter_term" => filter_term, "type" => "top_container"}))

%>

<div class='location-holdings' data-url='<%= ajax_search_url %>'>
	<i class='spinner'></i>
</div>
