<div id="archivesSpaceSidebar">
  <ul class="nav nav-list as-nav-list">
    <li><a href="#basic_information">Location Details <span class="icon-chevron-right"></span></a></li>

    <% if not controller.action_name === "show" %>
      <li class="form-actions">
        <button type="submit" class="btn btn-primary">Save Location</button>
      </li>
    <% end %>
  </ul>
</div>