<section id="job_filenames_">
  <div class="form-group required">
    <label class="btn btn-success btn-sm fileinput-button" for="job_file_input">
      <span class="glyphicon glyphicon-plus icon-white"></span>
      <span><%= t("job._frontend.actions.add_file") %></span>
      <input
        id="job_file_input"
        type="file"
        name="files[]"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        autocomplete="off"
        required
      />
    </label>
    <span id="job_filename"></span>
  </div>
  <%= form.label_and_boolean "create_missing_top_containers",
    {},
    AppConfig.has_key?(:bulk_archival_object_updater_create_missing_top_containers) && AppConfig[:bulk_archival_object_updater_create_missing_top_containers]
  %>
</section>

<script>
$(document).ready(function () {
  const $jobSubmitBtn = $('#job_file_input')
    .closest('.record-pane')
    .find('.form-actions .btn-primary[type="submit"]');
  $jobSubmitBtn.prop('disabled', true);

  $('#job_file_input').on('change', function (e) {
    if (e.target.files.length > 0) {
      $('#job_filename').text(e.target.files[0].name);
      $jobSubmitBtn.prop('disabled', false);
    } else {
      $('#job_filename').text('');
      $jobSubmitBtn.prop('disabled', true);
    }
  });
});
</script>
