<table>
    <tr>
        <th><%= i18n('identifier') %></th>
        <th><%= i18n('title') %></th>
        <% @report.each do |classification| %>
            <tr>
              <td><%= h classification['classificationIdentifier'] || classification['classificationTermIdentifier'] %></td>
              <td><%= h classification['classificationTitle'] || classification['classificationTermTitle'] %></td>
            </tr>
        <% end %>
</table>
