<%= setup_context :title => "Home", :suppress_breadcrumb => true %>

<div class="row-fluid">
   <%= render_aspace_partial :partial => "shared/flash_messages" %>

   <div class="span12">
      <h1><%= I18n.t "welcome.heading" %></h1>
      <p><%= I18n.t "welcome.message" %></p>
   </div>
</div>
