<%= setup_context :title => "Home", :suppress_breadcrumb => true %>

<div class="row">
  <div class="col-md-12">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
  </div>

   <div class="col-md-12" style="padding: 30px;">
      <h1><%= I18n.t "welcome.heading" %></h1>
      <%= welcome_message %> 
    </div>
</div>
