<% if @breadcrumbs and not @breadcrumbs.empty? %>
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <% @breadcrumbs.each_with_index do |crumb, i| %>
          <% if i < @breadcrumbs.length - 1%>
            <li>
              <%= icon_for crumb[2] %> 
              <%= link_to truncate(crumb[0]), crumb[1] %><span class="divider">/</span>
            </li>
          <% else %>
            <li class="active"><%= icon_for crumb[2] %> <%= truncate(crumb[0]) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>