<% if @repository %>
  <div class="repo-selector">
    <div class="selected-repo">
      <span class="icon-hdd icon-white"></span>
      <span class="selected-repo-label"><%= @repository.repo_code %></span>
    </div>
  </div>
<% end %>