<%= setup_context :title => "Home", :suppress_breadcrumb => true %>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span12">
      <p>Welcome to the Archives Space public interface.</p>
    </div>
  </div>
</div>
