<br/>

<div class="well">
  <div class="row-fluid">
    
    <div class="span8">
      
      <h3>Welcome to ArchivesSpace.</h3>
      <p>Find what you're looking for:</p>

      <div class="tab-content">
        <div id="simpleSearch" class="tab-pane active">
          <%= render :partial => "simple_search" %>
        </div>
        <div id="advancedSearch" class="tab-pane">
          <%= render :partial => "advanced_search" %>
        </div>
      </div>

      <ul class="search-switcher">
        <li class="active">
          <a href="#simpleSearch" data-toggle="tab">Hide Advanced Search</a>
        </li>
        <li>
          <a href="#advancedSearch" data-toggle="tab">Show Advanced Search</a>
        </li>
      </ul>

    </div>
    <div class="span4">
      <h4>Content Here</h4>
      <p>Something here...</p>
      <p>Something here...</p>
      <p>Something here...</p>
      <hr/>
      <p>Something else...</p>
    </div>
  </div>
</div>
  <div class="row-fluid">
    <div class="span12">
      <div class="well">
        Some other information goes here.
      </div>
    </div>
  </div>