<h2>
   <%= @resource.title.blank? ? "New Resource" : @resource.title %>  <span class="label label-info">Resource</span>
</h2>

<%= render "shared/form_messages", :object => @resource %>

<fieldset>
  <section id="basic_information">
    <h3>Basic Information</h3>
    <%= render :partial => "resources/forms/basic_information", :locals => {:f => f} %>
  </section>
</fieldset>