<div id="archivesSpaceSidebar">
  <ul class="nav nav-list affix as-nav-list" data-spy="affix">
    <li><a href="#basic_information">Basic Information <span class="icon-chevron-right"></span></a></li>

    <% if not controller.action_name === "show" or @resource.notes.length > 0 %>
      <li><a href="#notes">Notes <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <li><a href="#resource_extents_">Extents <span class="icon-chevron-right"></span></a></li>

    <% if controller.action_name != "show" || @resource.dates.length > 0 %>
      <li><a href="#resource_dates_">Dates <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.external_documents.length > 0 %>
      <li><a href="#resource_external_documents_">External Documents <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.rights_statements.length > 0 %>
      <li><a href="#resource_rights_statements_">Rights Statements <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.instances.length > 0 %>
      <li><a href="#instances">Instances <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" %>
      <li class="form-actions">
        <button type="submit" class="btn btn-primary">Save Resource</button>
      </li>
    <% end %>
  </ul>
</div>