<% if user_can?('update_archival_record') %>

  <% unless content_for?(:exports) %>
    <% content_for :exports do %>
      <li><%= link_to I18n.t("actions.export_ead"), {:controller => :exports, :action => :download_ead, :id => @resource.id} %></li>
      <li><%= link_to I18n.t("actions.export_marc"), {:controller => :exports, :action => :download_marc, :id => @resource.id} %></li>
      <li><%= link_to I18n.t("actions.container_labels"), {:controller => :exports, :action => :container_labels, :id => @resource.id} %></li>
    <% end %>
  <% end %>

  <%= render(:partial => '/shared/resource_toolbar',
             :locals => {
              :record_type => 'resource',
              :record => @resource,
             })
  %>
<% end %>
