<%= setup_context :object => @resource %>

<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="span12">
    <%= render :partial => "shared/tree", :formats => [:html], :handlers => [:erb], :locals => {:root_record => @resource} %>
  </div>
</div>

<div id="object_container"></div>
