<%= setup_context :object => @resource %>

<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="span12">
    <%= render :partial => "shared/tree" %>
  </div>
</div>

<div id="object_container"></div>