<%= setup_context :object => @resource %>

<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12">
    <%= render_aspace_partial :partial => "shared/tree", :locals => {:root_record => @resource} %>
  </div>
</div>

<div id="object_container"></div>
