<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Resources", :controller => :resources, :action => :index), link_to(@resource.title, :controller => :resources, :action => :show, :id => @resource.id), "Edit"]} %>

<div class="row-fluid">
  <div class="span12">
      <%= render :partial => "resources/tree", :locals => {:selected => "resource"} %>
  </div>
</div>

<div id="object_container"></div>