<%= render :partial=>"shared/breadcrumb", :locals=>{:trail=>[link_to("Browse Resources", :controller=>:resources, :action=>:index),"Create a Resource"]} %>
<div class="row-fluid">
   <div class="span3">
      <div class="archives-tree well">
         <ul>
     				<li id="1234">
     					<a href="#">Container</a>
     				</li>
     			</ul>
      </div>
   </div>
   <div class="span9">
      <h2>Create a Resource</h2>
      
   </div>
</div>