<%= setup_context :object => @resource %>

<div class="row-fluid">
  <div class="span12">
    <%= render :partial => "shared/tree", :locals => {:read_only => true} %>
  </div>
</div>

<div id="object_container"></div>