<%= setup_context :object => @resource %>

<%= render_aspace_partial :partial => "transfer/transfer_failures", :locals => { :transfer_errors => @transfer_errors } %>

<div class="row">
  <div class="col-md-12">
    <%= render_aspace_partial :partial => "shared/largetree", :locals => {:root_record => @resource, :read_only => true} %>
    <%= javascript_include_tag "record_with_tree" %>
  </div>
</div>

<div id="object_container"></div>

<script>
    new AjaxTree(tree, $('#object_container'));
</script>