<% define_template "language_and_script", jsonmodel_definition(:language_and_script) do |form| %>
  <div class="d-flex flex-column">
    <%= form.label_and_select("language", form.possible_options_for("language", true)) %>
    <%= form.label_and_select("script", form.possible_options_for("script", true)) %>
  </div>
<% end %>
