<div class="row">
  <div class="col-md-12">
    <div class="record-toolbar d-flex align-items-center">
      <div class="btn-group">
        <div class="save-changes">
          <button type="submit" class="btn btn-primary btn-sm"><%= I18n.t("actions.save_prefix") %></button>
        </div>
      </div>
      <div class="btn-toolbar ml-auto">
        <%= button_delete_action url_for(:controller => :groups, :action => :delete, :id => @group.id), { :"data-title" => t("actions.delete_confirm_title", :title => @group.description) } %>
      </div>
    </div>
  </div>
</div>
