<%
   id = "container_subrecord" if id.blank?
%>
<section id="<%= id %>">
  <h4><%= I18n.t("container._singular") %></h4>

  <div class="container-subrecord">
    <%= read_only_view(container, :label_css => "col-md-4") %>
    <% if container["container_locations"].length > 0 %>
      <%= render_aspace_partial :partial => "container_locations/show", :locals => { :container_locations => container["container_locations"] } %>
    <% end %>
  </div>

</section>
