<div class="row-fluid label-and-value">
   <div class="span3">Title</div>
   <div class="span9"><%= @archival_object.title %></div>
</div>
<div class="row-fluid label-and-value identifier-display">
   <div class="span3">Ref ID</div>
   <div class="span9"><span class="identifier-display-part"><%= @archival_object.ref_id %></span></div>
</div>
<% if @archival_object.subjects %>
<hr/>
<div class="row-fluid label-and-value">
   <div class="span3">Subjects</div>
   <div class="span9">
      <% @archival_object["resolved"]["subjects"].each do | subject | %>
         <div class="subject-token">
            <%= subject['term'] %>
         </div>
      <% end %>
   </div>
</div>
<% end %>
