<div class="row-fluid label-and-value">
   <div class="span3">Title</div>
   <div class="span9"><%= @archival_object.title %></div>
</div>
<div class="row-fluid label-and-value identifier-display">
   <div class="span3">Ref ID</div>
   <div class="span9"><span class="identifier-display-part"><%= @archival_object.ref_id %></span></div>
</div>
<% if not @archival_object.language.blank? %>
<div class="row-fluid label-and-value">
  <div class="span3">Language</div>
  <div class="span9"><%= I18n.t("archival_object.language_#{@archival_object.language}") %></div>
</div>
<% end %>
<% if not @archival_object.subjects.blank? %>
<hr/>
<div class="row-fluid label-and-value">
   <div class="span3">Subjects</div>
   <div class="span9">
      <% @archival_object["resolved"]["subjects"].each do | subject | %>
         <div class="token">
            <%= Subject.from_hash(subject).display_string %>
         </div>
      <% end %>
   </div>
</div>
<% end %>
