<table>
  <tr>
    <th><%= t('name') %></th>
    <th><%= t('source') %></th>
    <% @report.each do |name| %>
    <tr>
      <td><%= h name.fetch('sortName') %></td>
      <td><%= h name.fetch('nameSource') %></td>
    </tr>
  <% end %>
</table>
