<%#
This is an version of the search results table for embedding an ajax-loaded table of search results.
It corresponds to the non-ajax table produced by search/result
partial (app/views/search/_result.html.erb).

Values passed into the locals here are then passed into search as parameters, and get turned into
the controller instance variables that control the output of 'search/_listing.html.erb'

locals:
  filter_term,
  hide_audit_info,
  type,
  extra_columns,
  display_identifier,
  show_context_column

%>
<%
base_opts = {:controller => :search, :action => :do_search}.merge(build_search_params({"add_filter_term" => filter_term}))

base_opts[:hide_audit_info] = hide_audit_info if defined? hide_audit_info
base_opts[:type] = type if defined? type
base_opts[:extra_columns] = extra_columns if defined? extra_columns
base_opts[:display_identifier] = display_identifier if defined? display_identifier
base_opts[:show_context_column] = show_context_column if defined? show_context_column

ajax_opts = base_opts.merge({:format => :js, :listing_only => true})

ajax_search_url = url_for(ajax_opts)
html_search_url = url_for(base_opts)

heading_text = "Linked Records" if heading_text.blank?
%>

<section id="search_embedded" class="subrecord-form-dummy">
  <h3 class="subrecord-form-heading">
    <%= heading_text %>
    <%= link_to I18n.t("actions.view_search_results"), html_search_url, :class => "btn btn-sm btn-default pull-right" %>
  </h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields embedded-search" data-url="<%= ajax_search_url %>">
      <div class="alert alert-info">Loading...</div>
    </div>
  </div>

</section>
