<%
  title = I18n.t("search_results.title") if title.nil?
%>

<div class="row-fluid">
  <div class="span3">
    <%= render :partial => "search/filter", :formats => [:html], :handlers => [:erb] %>
  </div>
  <div class="span9">
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>
      <% if !params[:linker] %>
        <h2><%= title %></h2>
      <% end %>

      <%= render :partial => "listing", :formats => [:html], :handlers => [:erb] %>

    </div>
  </div>
</div>
