<%
  title = I18n.t("search_results.title") if title.nil?
%>

<div class="row-fluid">
  <div class="span3">
    Query: <%= params[:q] %><br/>
    Type: <%= params[:type] %>
  </div>
  <div class="span9">
    <div class="record-pane">
      <h2><%= title %></h2>

      <%= render :partial => "listing" %>

    </div>
  </div>
</div>
