<%
  title = I18n.t("search_results.title") if title.nil?
%>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "search/filter" %>
  </div>
  <div class="col-md-9">
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>
      <% if !params[:linker] %>
        <h2><%= title %></h2>
      <% end %>

      <%= render_aspace_partial :partial => "listing" %>

    </div>
  </div>
</div>
