<% if record['primary_type'] === "repository" and session[:repo] === record['id'] %>
	<span class="badge badge-success"><%= t("repository._frontend.messages.selected_short") %></span>
<% end %>

<% if record["suppressed"] %>
	<span class="badge badge-warning"><%= t("states.suppressed") %></span>
<% end %>

<% if deleted(record) %>
	<span class="badge badge-danger"><%= t("states.deleted") %></span>
<% end %>

<%= clean_mixed_content(record["title"]).html_safe || clean_mixed_content(record['display_string']).html_safe %>
