$button-font-color: $white;

#search-box {

  .second-row {

    .button {
      font-size: 1rem;
      font-weight: 500;
      color: $white !important;
      padding: 0.5rem 1rem 0.625rem 0.825rem;
    }
  }

}

.button.radius {
  border-radius: rem-calc(20);
}


.keywordscontext {
  .button {
    @include button-style($grey, $darkgrey, $black);
  }
}
