.classification-tree {

  h3 {
    margin-left: rem-calc(5);
  }

  .navigation-row {
    > div:first-child {
      border-left: 0;
      border-right: 0;
    }

    > div:last-child {
      border-left: 0;
      border-right: 0;
    }
  }

  .content-row {
    > div:first-child {
      border-left: 0;
      border-right: 0;
      border-top: 0;
    }

    > div:last-child {
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }

  .container-list {

    .container-string {
      padding-left: rem-calc(4);

      a {
        color: $container-color;
      }

      .date {
        color: $black;
        font-style: italic;
        font-weight: normal;
      }
    }
  }
}

.classification-term {
  a {
    color: $midblue;
  }
}
