.infinite-record-wrapper {
    height: 600px;
    overflow: hidden;
}

.infinite-record-container {
    width: 100%;
    overflow: hidden;
    will-change: transform;

    .waypoint {
        height: 1em;
    }

    .waypoint.populated {
        height: auto;
    }

}

.infinite-record-scrollbar {
    overflow: scroll;
    position: absolute;
    width: 15px;
}

.infinite-tree-view {
    height: 600px;

    padding: 1em;

    .resource-level,
    .resource-type, 
    .resource-container {
        display: none;
    }
}
