.emph {
    &.render-none {font-style: italic;}
    &.render-bold, &.render-bolddoublequote, &.render-bolditalic, &.render-boldsinglequote, &.render-boldsmcaps, &.render-boldunderline {font-weight: bold}
    &.render-italic, &.render-bolditalic {font-style: italic;}
    &.render-smcaps, &.render-boldsmcaps, {font-variant: small-caps;}
    &.render-sub {vertical-align: sub; font-size: 80%;}
    &.render-super {vertical-align: super; font-size: 80%;}
    &.render-underline {text-decoration: underline;}
    &.render-nonproport {color: #666;}
    &.render-doublequote:before, &.render-bolddoublequote:before {content: '"'}
    &.render-doublequote:after, &.render-bolddoublequote:after {content: '"'}
    &.render-singlequote:before, &.render-boldsinglequote:before {content: "'"}
    &.render-singlequote:after, &.render-boldsinglequote:after {content: "'"}
}