.name-sidebar {

  padding: 0;

  > .inner {
    padding: rem-calc(20);
  }

  .accordion-table {

    .navigation-row {

      > div:first-child {
        background-color: $lightblue;

        .arrow-down {
          @include css-triangle(rem-calc(6), $white, 'down');
        }

        .arrow-right {
          @include css-triangle(rem-calc(6), $white, 'right');
        }
      }

      > div:last-child {
        background-color: $lightgrey;
      }

    }
  }


}