#whats-in-repo-container.activated {

  border: 1px solid $grey;

  h3 {
    background-color: $lightgrey;
    border-bottom: 1px solid $grey;
    padding-left: rem-calc(10);
    padding-top: rem-calc(6);
    padding-bottom: rem-calc(6);
  }

  .large-badge {
    float: left;
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);

    i {
      font-size: rem-calc(40);
    }

  }

}