#search-box {
  /* padding-left: rem-calc(60); */
  /* padding-right: rem-calc(130); */
  /* padding-top: rem-calc(30); */

  .row {
    width: $row-width;
  }

  .panel {
    padding: 0;

    .second-row {

      .columns {
        margin-top: rem-calc(20);
      }

      .button-group {
        margin-top: rem-calc(12);
      }
    }

    .first-row {
      background: $midblue;
      height: rem-calc(100);

      p {
        margin-bottom: 0;
      }

      .columns {
        margin-top: rem-calc(20);
      }

      .small-4 {
        padding-right: 0;

        p {
          float: left;
          padding-right: rem-calc(10);
          font-size: 0.9rem;
        }

        button {
          margin-bottom: 0;
        }
      }

      .small-3 {

        p {
          float: right;
          font-size: 0.9rem;
        }

        button {
          margin-bottom: 0;
        }
      }
    }

    button {
      border-radius: 12px;
    }
  }

  .search-panel {
    background: $lightgrey;

    .button {
      background: $lightgrey;
      color: $black;
    }

    .second-row .button {
      background: $lightblue;
    }

    /* .button:after { */
    /*   border-top-color: $black; */
    /* } */

    .search-query-row {
      .button {
        background: $midblue;
        color: $white !important;
      }

      /* .button.dropdown::after { */
      /*   border-color: $white transparent transparent transparent; */
      /* } */
    }
  }


  .search-toolbar-results, .search-toolbar-display-ctrl {
    color: $white;
    float: left;
  }
}


.search-panel-blue {
  background: $darkblue;
  padding-top: rem-calc(20);

  p a {
    color: $white !important;
    text-decoration: none;
    border-bottom: 0 !important;
  }

  .button {
    background: $white;
    border-radius: 12px;
  }


  .button:after {
    border-top-color: $white;
  }

  .search-query-row {
    .button {
      color: $darkgrey !important;
    }

    .button.dropdown::after {
      border-color: $darkgrey transparent transparent transparent;
    }
  }

}


.search-panel, .search-query-row {

  ul.dropdown-pane {
    width: auto;
    min-width: 0;
    list-style-type: none !important;
    margin-left: 0;
    padding: 0.5rem;
  }
}


.search-query-recordtype-col {
  .button {
    width: 100%;
  }
}


#embedded-search-container {

  .search-query-row {

    input {
      height: 1.6rem;
      font-size: 0.8rem;
    }
  }

  button {
    /* font-size: 0.8rem; */
  }
}

.search-query-row {

  .button {
    font-size: rem-calc(12);
    font-weight: 500;
  /* padding: 0.5rem 1rem 0.625rem 0.825rem; */
  }
}