.sidebar-container {
  padding: rem-calc(10);
  margin-top: rem-calc(10);
  border: 1px solid $grey;

  h3 {
    color: $midblue;
  }

  .identifier {
    margin-left: rem-calc(4);
  }
}

#tree-container {
  margin-bottom: rem-calc(20);
}
