.sidebar-container {
  padding: rem-calc(10);
  margin-top: rem-calc(10);
  border: 1px solid $grey;

  h3 {
    color: $midblue;
  }

  .identifier {
    margin-left: rem-calc(4);
  }
}

#tree-container {
  margin-bottom: rem-calc(20);

  .jstree-themeicon-custom {
    vertical-align: middle;
    padding-top: rem-calc(2);
  }

  .jstree-icon {
    float: left;
    color: $lightblue;

    &.jstree-ocl {
      width: rem-calc(20);
    }
  }

  .jstree-default a {
    white-space:normal !important; height: auto;
  }
  .jstree-anchor {
    height: auto !important;
  }
  .jstree-default li > ins {
    vertical-align:top;
  }
  .jstree-leaf {
    height: auto;
  }
  .jstree-leaf a{
    height: auto !important;
  }

  .tree-node-text {
    white-space:normal;
    display: inline-block;
    padding-right: rem-calc(20);
  }

  .jstree-node {
    .jstree-node {
      .jstree-themeicon {
        display: none !important;
      }

      .jstree-node {
        margin-left: 0 !important;
      }
    }
  }

  .tree-node-text {
    font-size: 0.8rem;


    .component-id {
      color: $lightblue;
    }
  }
}

.resource-tree-sidebar {
  h3 {
    margin-left: rem-calc(20);
  }

  .search-collection-content {
    margin-left: rem-calc(20);
    margin-right: rem-calc(20);
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    border: 1px solid $grey;
    background-color: $lightgrey;
  }

  .search-collection-content-form {
    border-top: 1px solid $grey;
    padding-top: rem-calc(20);

    input {
      width: 50%;
      float: left;
      margin-right: rem-calc(10);
    }

    button {
      border-radius: rem-calc(10);
      background-color: $lightblue;
    }
  }

}
