$fi-path: "foundation-icon-fonts";

/* Bootstrap icons only */
$icon-font-path: "bootstrap-sass/";
$icon-font-name: "glyphicons-halflings-regular";
$icon-font-svg-id: "";
$bootstrap-sass-asset-helper: false;


$sans-font: 'PT Sans', sans-serif;
/* $sans-font: 'Roboto Slab', serif; */
$serif-font: 'Roboto Slab', serif;

$row-width: 100%;



$body-font-family: $sans-font;
