$fi-path: "foundation-icon-fonts";
$black: #00171f;
$white: #ffffff;
$darkblue: #05538a;
$midblue: #007eaf;
$lightblue: #34b6e4;
$grey: #cccccc;
$lightgrey: #eeeeee;
$highlight: #f7d309;

$sans-font: 'PT Sans', sans-serif;
/* $sans-font: 'Roboto Slab', serif; */
$serif-font: 'Roboto Slab', serif;

$row-width: 100%;


$primary-color: $lightblue;
$secondary-color: $midblue;

$body-font-family: $sans-font;
