<div class="panel-footer pugs-footer">
  <img class="pull-right" src="http://i.huffpost.com/gen/3753474/images/o-PUG-facebook.jpg" style="height: 100px"/>
  <small><%= t("plugin.pugs.footer") %></small>
</div>