<div class="pugs-header">
  <h1>
    <%= t('plugin.pugs.header') %>
    <img class="pull-right" src="http://i.huffpost.com/gen/3753474/images/o-PUG-facebook.jpg" style="height: 100px"/>
  </h1>
</div>