<table>
    <tr>
        <th><%= t('identifier') %></th>
        <th><%= t('title') %></th>
        <% @report.each do |record| %>
            <tr>
                <td><%= format_4part(record.fetch('identifier')) %></td>
                <td><%= transform_text(record.fetch('title')) %></td>
            </tr>
        <% end %>
</table>
