<div class="breadcrumb-row">
   <div class="mb-3">
      <ol class="breadcrumb mb-0 rounded-0">
         <li class="breadcrumb-item">
            <%= link_to t("breadcrumb.home"), :controller => :welcome, :action => :index %>
         </li>
         <% trail.each_with_index do |crumb, i| %>
            <% if i < trail.length - 1%>         
               <li class="breadcrumb-item">
                  <%= link_to strip_tags(crumb[0].to_s).gsub(/&amp;/,'&') , crumb[1] %>
               </li>
            <% else %>
               <li class="active breadcrumb-item"><%= strip_tags( crumb[0].to_s).gsub(/&amp;/,'&')  %></li>
            <% end %>
         <% end %>
        <% if flash.key? :spawned_from_accession %>
          <li class="return-to-search ml-auto breadcrumb-item">
            <%= link_to "Return to Accession", {:controller => :accessions, :action => :show, :id => flash[:spawned_from_accession]}, :class => "btn btn-sm" %>
          </li>
        <% end %>
      </ol>
   </div>
</div>
