<div class="row-fluid">
   <div class="span12">
      <ul class="breadcrumb">
        <li>
           <%= link_to "Home", :controller=>:welcome, :action=>:index %><span class="divider">/</span>
        </li>
         <li class="active"><%= current %></li>
      </ul>
   </div>
</div>