<div class="row-fluid">
   <div class="span12">
      <ul class="breadcrumb">
         <li>
            <%= link_to "Home", :controller => :welcome, :action => :index %><span class="divider">/</span>
         </li>
         <% trail.each_with_index do |crumb, i| %>
            <% if i < trail.length - 1%>         
               <li>
                  <%= crumb %><span class="divider">/</span>
               </li>
            <% else %>
               <li class="active"><%= crumb %></li>
            <% end %>
         <% end %>
      </ul>
   </div>
</div>