<% if @browser_support === :bronze %>
  <div class="browser-warning alert alert warning">
    <div class="container">
      <%= I18n.t("browser_support.bronze") %>
    </div>
  </div>
<% end %>
<% if @browser_support === :unknown %>
  <div class="browser-warning alert alert warning">
    <div class="container">
      <%= I18n.t("browser_support.unknown") %>
    </div>
  </div>
<% end %>
