<% if @errors %>
   <div class="alert alert-error">
      <% @errors.each do |attr, messages| %>
           <div class="errors-for_attr">
             <% messages.each do |msg| %>
               <div class="error"><%= attr %> - <%= msg %></div>
             <% end %>
           </div>
      <% end %>
   </div>
<% end %>