<li class="dropdown repository-container">  
  <div class="input-append">
     <span class="repository-label"><span class=" icon-hdd icon-white"></span> <span class="current-repository-id"><%= session[:repo].repo_id %></span></span><a class="btn btn-inverse dropdown-toggle last" data-toggle="dropdown" href="#"><span class="caret"></span></a>
       <ul class="dropdown-menu">
         <% repos = Repository.all %>
         <% if session[:repo] %>
            <%#><li><a href="#">Edit</a></li>
            <li class="divider"></li>%>
         <% end %>
         <% if repos.length >= 1 %>
            <% for repo in repos %>
               <% if session[:repo] === repo["id"] %>
                  <li><span class="icon-ok-circle"></span> <%= repo["repo_id"] %></li>
               <% else %>
                  <li><%= link_to repo["repo_id"], {:controller=>:repository, :action=>:select, :id=>repo["id"]}, :class=>"select-repo" %></li>
               <% end %>
            <% end %>
            <li class="divider"></li>
         <% end %>
         <% if session[:user] %>
            <li><%= link_to "Create a Respository", {:controller=>:repository, :action=>:new}, "data-toggle"=>"modal-ajax" %></li>
         <% end %>
       </ul>                 
  </div>
</li>
