<div class="container global-header">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
          <%= link_to I18n.t("navbar.brand"), {:controller => :welcome, :action => :index}, :class => "brand" %>
          <ul class="nav pull-right">
           <%= render "shared/header_user" %>
           <% if ArchivesSpaceHelp.enabled? %>
             <li><%= link_to_help :link_opts => {"data-placement" => (session[:user] ? "left" : "bottom")} %></li>
           <% end %>
         </ul>
      </div>
    </div><!-- /navbar-inner -->
  </div>
</div>