<% if session[:user] %>
   <li class="dropdown repository-container">  
     <div class="input-append">
        <span class="repository-label"><span class=" icon-hdd"></span> <span class="current-repository-id"><% if session[:repo] %><%= session[:repo] %><% end %></span></span><a class="btn dropdown-toggle last" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if session[:repo] %>
               <%#><li><a href="#">Edit</a></li>
               <li class="divider"></li>%>
            <% end %>
            <% if repositories.length >= 1 %>
               <% for repo in repositories %>
                  <% if session[:repo_id] === repo.id %>
                     <li><span class="icon-ok-circle"></span> <%= repo.repo_code %></li>
                  <% else %>
                     <li><%= link_to repo.repo_code, {:controller => :repository, :action => :select, :id => repo.id}, :class => "select-repo" %></li>
                  <% end %>
               <% end %>
               <li class="divider"></li>
            <% end %>
            <% if session[:user] %>
               <li><%= link_to "Create a Repository", {:controller => :repository, :action => :new}, "data-toggle" => "modal-ajax" %></li>
            <% end %>
          </ul>                 
     </div>
   </li>
<% end %>
