<div class="container-fluid global-header">
  <span class="sr-only">
    <h1>
      <%= I18n.t("header.staff_interface") %>
    </h1>
  </span>
  <nav class="navbar">
    <div class="container-fluid sm-mxn15px">
      <div class="navbar-collapse nav-global-collapse navbar-right navbar-default">
        <ul class="nav pull-right navbar-nav navbar-login">
          <%= render "shared/header_user" %>
          <% if ArchivesSpaceHelp.enabled? %>
            <li class="xs-py15px"><%= link_to_help :link_opts => {"data-placement" => (session[:user] ? "left" : "bottom")} %></li>
          <% end %>
        </ul>
      </div><!-- nav-collapse -->
    </div>
  </nav>
</div>
