<div id="infinite-tree-resizer">
  <div
    class="resize-handle"
    role="separator"
    aria-orientation="horizontal"
    aria-label="<%= I18n.t("tree.resize") %>"
    aria-valuemin="60"
    aria-valuenow
    aria-valuemax
    title="<%= I18n.t("tree.resize") %>"
    tabindex="0"
    data-resize-handle
  >
    <button
      class="resize-toggle"
      aria-expanded="false"
      aria-label="<%= I18n.t("tree.maximize") %>"
      title="<%= I18n.t("tree.maximize") %>"
      data-resize-toggle
    ></button>
  </div>
</div>
