<div id="infinite-tree-record-pane"></div>

<template id="infinite-tree-record-pane-error-template">
  <div class="m-3 alert alert-warning" role="alert">
    <p><%= I18n.t('errors.error_tree_pane_ajax') %></p>
    <pre></pre>
  </div>
</template>
