<div class="btn-group btn-inline-form" data-no-change-tracking="true">
  <%= link_to '#', :class => "btn btn-sm btn-default" do %>
    <%= label_tag 'lightmode_toggle', t("actions.lightmode_toggle"), :style => "margin: 0px;" %>
    <%= check_box_tag 'lightmode_toggle', false, false,
      :style => "margin: 0px; vertical-align: middle", :data => { type: type }
    %>
  <% end %>
</div>
