<%
  id ||= "ASModal"
  
%>


<div class="modal<% if defined?(klass)%> <%= klass %><% end %>" id="<%= id %>">
  <div class="modal-dialog <% if defined?(large) %>modal-lg<% end %>">
    <div class="modal-content" >
      <div class="modal-header">
        <h3><%= title %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
         <%= render :partial => partial %>
      </div>
    </div>
  </div>
</div>
