<% if @search_data %>
  <div class="pull-left">
    Showing <strong><%= @search_data["offset_first"] %></strong> - <strong><%= @search_data["offset_last"] %></strong> of <strong><%= @search_data["total_hits"] %></strong> Results
  </div>
<% end %>