<% if exceptions.has_key?("error") %>
  <div class="alert alert-danger">
    <% exceptions["error"].each do |attr, messages| %>
      <div class="errors-for-attribute">
        <% messages.each do |msg| %>
          <div class="error">
            <%= t("#{jsonmodel}.#{attr}") %> - <%= msg %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
