<% 
  cuts = [
          ["this_reference", "Shift ?"],
          ["close_modal", "ESC"],
          ["save_record", "Ctrl S"],
          ["close_record", "Ctrl X"],
          ["open_browse", "Shift B"],
          ["open_create", "Shift C"]
          ]
  
%>



<div class="keyboard-shortcuts-modal container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>Action</th>
        <th>Shortcut</th>
      </tr>
    </thead>
    <tbody>
      <% cuts.each do |cut| %>
        <tr>
          <td><%= t("shortcuts.actions.#{cut.shift}") %></td>
          <td>
            <%
              keys = cut.first.split(/\s+/)
              formatted_keys = keys.map { |key| content_tag(:kbd, key) }
            %>
            <%= formatted_keys.join(' ').html_safe %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


