<%
   if !defined?(anchor)
     anchor = (property == :none) ? subrecord_type : "#{record_type}_#{property}_"
   end
   if !defined?(title)
      title = t("#{record_type}._frontend.section.#{subrecord_type}",
                     :default => t("#{subrecord_type}._plural"))
   end
   subentry = nil if !defined?(subentry)
%>

<li class="sidebar-heading"><a href="#<%= anchor %>" style="<%= "padding-left: 25px !important;" if !subentry.nil? %>"><b><%= title %></b></a></li>
