<div id="modal_custom_template"><!--
   <div class="modal hide" id="${id}">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>${title}</h3>
      </div>
      ${content}
   </div>
--></div>

<div id="save_changes_modal_template"><!--
   <div class="modal-body">
      You have some outstanding changes.  Please save or dismiss these changes to continue.
   </div>
   <div class="modal-footer">
      <button id="saveChangesButton" class="btn btn-primary">Save Changes</button>
      <button id="dismissChangesButton" class="btn">Dismiss Changes</button>
      <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
   </div>
--></div>

<div id="confirmation_modal_template"><!--
   <div class="modal-body">
      {if defined(message) && message.length > 0}
        ${message}
      {/if}
   </div>
   <div class="modal-footer">
      <button id="confirmButton" class="btn btn-primary">Confirm</button>
      <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
   </div>
--></div>

<div id="linker_browsemodal_template"><!--
   <div class="modal-body linker-container">
      <div class="linker-list"></div>
   </div>
   <div class="modal-footer">
      <button id="addSelectedButton" class="btn btn-primary">Link to ${label_plural}</button>
      <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
   </div>
--></div>
<div id="linker_createmodal_template"><!--
   <div class="modal-body linker-container"></div>
   <div class="modal-footer">
      <button id="createAndLinkButton" class="btn btn-primary">Create and Link to ${label}</button>
      <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
   </div>
--></div>
<div id="linker_browse_template"><!--
   <ul>
      {for item in items}
         <li>
            <label>
               {if config.multiplicity === "one"}
                 <input
                    type="radio"
                    name="linker-item"
                    value="${item.uri}"
                    data-object='${JSON.stringify(item)}'
                    {if $.inArray(item.uri, selected) >= 0} checked="checked"{/if}
                 />
               {else}
                 <input
                    type="checkbox"
                    name="linker-item"
                    value="${item.uri}"
                    data-object='${JSON.stringify(item)}'
                    {if $.inArray(item.uri, selected) >= 0} checked="checked"{/if}
                 />
               {/if}
               <span>
                {if config.format_property}
                  ${item[config.format_property]}
                {else}
                  ${AS.quickTemplate(config.format_template, item)}
                {/if}
               </span>
            </label>
         </li>
      {/for}
   </ul>
--></div>
<div id="linker_selected_template"><!--
   {if config.multiplicity === "many" || (config.multiplicity === "one" && items.length === 0)}
      <button type="button" class="btn btn-mini linker-add-button">Add ${config.label}</button>
   {/if}
   {if items.length > 0}
      <ul>
         {for item in items} 
            <li class="${item.json.jsonmodel_type}">
               <span class="icon-token"></span>
               <input type="hidden" name="${config.path}[${config.name}][]" value="${item}" />
               ${item}
            </li>
         {/for}
      </ul>
   {else}
      
   {/if}
--></div>
<div id="linker_selectedtoken_template"><!--
   <li id="${item.id.replace(/\//g,'_')}" class="${item.json.jsonmodel_type}">
      <span class="icon-token"></span>
      <input type="hidden" name="${config.path}[resolved][${config.name}]{if config.multiplicity != 'one'}[]{/if}" />
      <input type="hidden" name="${config.path}[${config.name}]{if config.multiplicity != 'one'}[]{/if}" value="${item.id}" />
      ${item.name}
   </li>
--></div>

<div id="subform_remove_confirmation_template"><!--
   <div class="pull-right subrecord-form-removal-confirmation">
    <div class="btn-group">
      <button class="btn btn-small cancel-removal">Cancel</button>
      <button class="btn btn-small btn-primary confirm-removal">Confirm Removal</button>
     </div>
   </div>
--></div>