<div id="modal_custom_template"><!--
   <div class="modal hide" id="${id}">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>${title}</h3>
      </div>
      ${content}
   </div>
--></div>

<div id="save_changes_modal_template"><!--
   <div class="modal-body">
      You have some outstanding changes.  Please save or dismiss these changes to continue.
   </div>
   <div class="modal-footer">
      <button id="saveChangesButton" class="btn btn-primary">Save Changes</button>
      <button id="dismissChangesButton" class="btn">Dismiss Changes</button>
      <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
   </div>
--></div>

<div id="linker_browsemodal_template"><!--
   <div class="modal-body linker-container">
      <div class="linker-list"></div>
   </div>
   <div class="modal-footer">
      <button id="addSelectedButton" class="btn btn-primary">Link to ${name_plural}</button>
      <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
   </div>
--></div>
<div id="linker_createmodal_template"><!--
   <div class="modal-body linker-container">
   </div>
   <div class="modal-footer">
      <button id="createAndLinkButton" class="btn btn-primary">Create and Link to ${name}</button>
      <button class="btn btn-cancel" data-dismiss="modal">Cancel</button>
   </div>
--></div>
<div id="linker_browse_template"><!--
   <ul>
      {for item in items} 
         <li>
            <label>
               <input 
                  type="checkbox" 
                  name="linker-item" 
                  value="${item.uri}" 
                  data-object='${JSON.stringify(item)}'
                  {if $.inArray(item.uri, selected) >= 0} checked="checked"{/if}
               />
               <span>${AS.quickTemplate(config.format, item)}</span>
            </label>
         </li>
      {/for}
   </ul>
--></div>
<div id="linker_selected_template"><!--
   {if config.multiplicity === "many" || (config.multiplicity === "one" && items.length === 0)}
      <button type="button" class="btn btn-mini linker-add-button">Add ${config.name}</button>
   {/if}
   {if items.length > 0}
      <ul>
         {for item in items} 
            <li>
               <input type="hidden" name="${config.owner_class}[${config.owner_attribute}][]" value="${item}" />
               ${item}
            </li>
         {/for}
      </ul>
   {else}
      
   {/if}
--></div>
<div id="linker_selectedtoken_template"><!--
   <li>
      <input type="hidden" name="${config.owner_class}[${config.owner_attribute}][]" value="${item.id}" />
      ${item.name}
   </li>
--></div>