<div class="record-toolbar d-flex align-items-center">
  <div class="save-changes">
    <button type="submit" class="btn btn-primary btn-sm"><%= t("actions.save_prefix") %></button>
  </div>
  <% if controller_name == "agents" && full_mode? %>
    <div class="btn-toolbar ml-auto">
      <%= render_aspace_partial :partial => "shared/lightmode_toggle", :locals => {:type => 'agents'} %>
    </div>
  <% end %>
</div>
