<div class="record-toolbar">
  <div class="pull-left save-changes">
    <button type="submit" class="btn btn-primary btn-sm"><%= I18n.t("actions.save_prefix") %></button>
  </div>
  <br style="clear:both" /> <!-- So dirty! -->
</div>

