<div class="row-fluid">
  <div class="span12">
    <div class="record-toolbar">
      <div class="pull-left save-changes">
        <button type="submit" class="btn btn-primary btn-small"><%= I18n.t("actions.save_prefix") %></button>
      </div>
    </div>
  </div>
</div>
