<div class="record-toolbar">
  <div class="pull-left save-changes">
    <button type="submit" class="btn btn-primary btn-sm"><%= I18n.t("actions.save_prefix") %></button>
  </div>
  <% if controller_name == "agents" && full_mode? %>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <%= render_aspace_partial :partial => "shared/lightmode_toggle", :locals => {:type => 'agents'} %>
      </div>
    </div>
  <% end %>
  <br style="clear:both" />
</div>
