<section class="d-flex flex-column">
  <div class="d-flex align-items-center gap-x-2 record-toolbar" role="toolbar">
    <div class="btn-group ml-auto" data-allow-disabled>
      <% if AppConfig[:enable_public] %>
        <%= render_aspace_partial :partial => "shared/view_published_button", :locals => {:record => record} %>
      <% end %>
      <% if ['resource', 'accession'].include?(record['jsonmodel_type']) %>
        <%= render_aspace_partial :partial => "shared/access_top_containers_button",
                                  :locals => {
                                    :record_uri      => record.uri,
                                    :record_type     => record['jsonmodel_type'],
                                    :record_title    => h(strip_tags(clean_mixed_content(record.title))),
                                    :button_classes  => "btn btn-sm btn-default",
                                    :wrapper_classes => "btn-group",
                                    :loading_state   => true
                                  } %>
      <% end %>
    </div>
  </div>
</section>
