<section class="d-flex flex-column">
  <div class="d-flex align-items-center gap-x-2 record-toolbar" role="toolbar">
    <div class="btn-group ml-auto" data-allow-disabled>
      <% if AppConfig[:enable_public] %>
        <%= render_aspace_partial :partial => "shared/view_published_button", :locals => {:record => record} %>
      <% end %>
    </div>
  </div>
</section>
