<%
  records_by_type = {}
  ASUtils.wrap(record['assessment_record_uris']).zip(ASUtils.wrap(record['assessment_records'])).each do |uri, title|
    type = JSONModel.parse_reference(uri).fetch(:type)
    records_by_type[type] ||= []

    records_by_type[type] << title
  end
  ASUtils.wrap(record['assessment_collections']).each do |title|
    records_by_type['resource'] ||=[]
    records_by_type['resource'] << title
  end

  order_of_types = ['resource', 'archival_object', 'accession', 'digital_object']
%>
<% order_of_types.each do |type| %>
  <% unless (record_titles = records_by_type.fetch(type, [])).empty? %>
    <div class="assessment-search-result-record-type"><%= t("#{type}._singular", :default => type) %></div>
    <ul class="assessment-search-result-listing">
      <% record_titles.uniq.sort.each do |title| %>
        <li>
          <%= title %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
