<% if (surveyors = ASUtils.wrap(record['assessment_surveyors'])).length == 1 %>
  <%= surveyors.first %>
<% elsif surveyors.length > 1 %>
  <ul class="assessment-search-result-listing">
    <% surveyors.sort.each do |surveyor| %>
      <li>
        <%= surveyor %>
      </li>
    <% end %>
  </ul>
<% end %>