<div class="name-authority-fields">

  <% disable_replace = true %>

  <%= form.label_and_merge_select("authority_id", "", {:disable_replace => disable_replace}) %>
  <%= form.label_and_merge_select("source", "", {:disable_replace => disable_replace}) %>
  <%= form.label_and_merge_select("rules", "", {:disable_replace => disable_replace}) %>
  <hr/>
</div>
