<div class="subform">
  <h4>
    <span class="subform-title"></span>
    <a href="javascript:void(0)" class="btn btn-mini pull-right subform-remove"><span class='icon-remove'></span></a>
  </h4>
  <div class="subform-container">
    <%= render :partial => "agents/name_forms/#{@agent.agent_type}", :locals=>{:f=>f} %>
  </div>
</div>