<div class="subform">
  <a href="javascript:void(0)" class="btn btn-mini pull-right subform-remove"><span class='icon-remove'></span></a>
  <div class="subform-container">
    <%= render :partial => "agents/name_forms/#{@agent.agent_type}", :locals=>{:f=>f} %>
  </div>
</div>