<% define_template "revision_statement", jsonmodel_definition(:revision_statement) do |form| %>
  <div class="subrecord-form-fields pt-5">
    <%= form.label_and_textfield "date" %>
    <%= form.label_and_textfield "description" %>
    <%= form.label_and_boolean "publish" %>
  </div>
<% end %>
