name: Accessibility Testing

on:
  workflow_dispatch:
    inputs:
      java-version:
        description: Java version to run specs on
        required: true
        type: choice
        options:
          - '11'
          - '17'
        default: '11'
      browser:
        description: Which browser to use
        required: true
        type: choice
        options:
          - 'chrome'
          - 'firefox'
        default: 'firefox'

  workflow_call:
    inputs:
      java-version:
        description: Java version to run specs on
        required: true
        type: string
        default: '11'
      browser:
        description: Which browser to use
        required: true
        type: string
        default: 'firefox'

  pull_request:
    paths:
      - '.github/workflows/accessibility.yml'
      - 'public/**'
      - 'frontend/**'
  push:
    branches:
      - '*___accessibility'

jobs:
  accessibility:
    name: Accessibility_Java_v${{ inputs.java-version || 11 }} # https://archivesspace.atlassian.net/browse/ANW-2022
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    services:
      db:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: accessibility
          MYSQL_USER: as
          MYSQL_PASSWORD: as123
        ports:
          - 3307:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      solr:
        image: solr:9.4.1
        env:
          SOLR_MODULES: analysis-extras
        ports:
          - 8984:8983

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: ${{ inputs.java-version || 11 }} # https://archivesspace.atlassian.net/browse/ANW-2022
        distribution: temurin

    - uses: './.github/actions/bootstrap'
      with:
        backend: true
        frontend: true
        public: true
        indexer: true

    - name: Load accessibility database
      env:
        DB_PORT: "3307"
      run: |
        gzip -dc ./build/mysql_db_fixtures/accessibility.sql.gz | mysql --host 127.0.0.1 --port $DB_PORT -uroot -proot accessibility

    - name: Copy solr config from workspace to solr service
      env:
        SOLR_ID: ${{ job.services.solr.id }}
      run: |
        docker cp solr $SOLR_ID:/solr_conf_from_repo

    - name: Create ArchivesSpace Solr core
      env:
        SOLR_ID: ${{ job.services.solr.id }}
      run: |
        docker exec --tty $SOLR_ID solr create_core -p 8983 -c archivesspace -d /solr_conf_from_repo

    - name: Copy shared resources
      run: |
        ./build/run public:copy-shared-resources

    - name: Run database migrations
      env:
        ASPACE_TEST_DB_URL: jdbc:mysql://127.0.0.1:3307/accessibility?useUnicode=true&characterEncoding=UTF-8&user=as&password=as123&useSSL=false&allowPublicKeyRetrieval=true
      run: |
        ./build/run db:migrate:test

    - name: Run Public accessibility tests
      env:
        ASPACE_TEST_DB_URL: jdbc:mysql://127.0.0.1:3307/accessibility?useUnicode=true&characterEncoding=UTF-8&user=as&password=as123&useSSL=false&allowPublicKeyRetrieval=true
        ASPACE_TEST_SKIP_FIXTURES: 1
        ARCHIVESSPACE_VERSION: ${{ github.ref }}

      run: |
        ./build/run rspec -Ddir="../public" -Dtag="db:accessibility" -Dspec="features" -Dorder="defined" -Dtest-server-url="http://127.0.0.1:13001"

    - name: Run Frontend accessibility tests
      env:
        SELENIUM_CHROME: ${{ inputs.browser == 'chrome' }}
        ASPACE_TEST_DB_URL: jdbc:mysql://127.0.0.1:3307/accessibility?useUnicode=true&characterEncoding=UTF-8&user=as&password=as123&useSSL=false&allowPublicKeyRetrieval=true
        ASPACE_TEST_SKIP_FIXTURES: 1
        ARCHIVESSPACE_VERSION: ${{ github.ref }}
      run: |
        ./build/run rspec -Ddir="../frontend" -Dtag="db:accessibility" -Dspec="features" -Dorder="defined"

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: ci_logs_accessibility_Java_${{ inputs.java-version || 11 }}
        path: 'ci_logs'
