name: Accessibility Testing

on:
  pull_request:
    paths:
      - '.github/workflows/accessibility.yml'
      - 'public/**'
      - 'frontend/**'

jobs:
  accessibility:
    name: Accessibility
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    strategy:
      matrix:
        java: [ 8, 11 ]

    services:
      db:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: accessibility
          MYSQL_USER: as
          MYSQL_PASSWORD: as123
        ports:
          - 3307:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      solr:
        image: solr:8.11
        ports:
          - 8984:8983

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin

    - uses: './.github/actions/bootstrap'

    - name: Load accessibility database
      env:
        DB_PORT: "3307"
      run: |
        gzip -dc ./build/mysql_db_fixtures/accessibility.sql.gz | mysql --host 127.0.0.1 --port $DB_PORT -uroot -proot accessibility

    - name: Copy solr config from workspace to solr service
      env:
        SOLR_ID: ${{ job.services.solr.id }}
      run: |
        docker cp solr $SOLR_ID:/solr_conf_from_repo

    - name: Create ArchivesSpace Solr core
      env:
        SOLR_ID: ${{ job.services.solr.id }}
      run: |
        docker exec --tty $SOLR_ID solr create_core -p 8983 -c archivesspace -d /solr_conf_from_repo

    - name: Copy shared resources
      run: |
        ./build/run public:copy-shared-resources

    - name: Run database migrations
      env:
        ASPACE_TEST_DB_URL: jdbc:mysql://127.0.0.1:3307/accessibility?useUnicode=true&characterEncoding=UTF-8&user=as&password=as123&useSSL=false&allowPublicKeyRetrieval=true
      run: |
        ./build/run db:migrate:test

    - name: Run Public accessibility tests
      env:
        ASPACE_TEST_DB_URL: jdbc:mysql://127.0.0.1:3307/accessibility?useUnicode=true&characterEncoding=UTF-8&user=as&password=as123&useSSL=false&allowPublicKeyRetrieval=true
        ASPACE_TEST_SKIP_FIXTURES: 1
      run: |
        ./build/run rspec -Ddir="../public" -Dtag="db:accessibility" -Dspec="features" -Dorder="defined"

    - name: Run Frontend accessibility tests
      env:
        ASPACE_TEST_DB_URL: jdbc:mysql://127.0.0.1:3307/accessibility?useUnicode=true&characterEncoding=UTF-8&user=as&password=as123&useSSL=false&allowPublicKeyRetrieval=true
        ASPACE_TEST_SKIP_FIXTURES: 1
      run: |
        ./build/run rspec -Ddir="../frontend" -Dtag="db:accessibility" -Dspec="features" -Dorder="defined"
