name: Code Scan

on:
  pull_request:
    branches:
      - master

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Run rubocop
        run: |
          ./build/run rubocop
