name: E2E Tests

permissions:
  contents: read
  pull-requests: write

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string

  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag for AS, e.g.: latest, ANW-1234"
        required: true
        type: string
        default: 'latest'

defaults:
  run:
    working-directory: ./e2e-tests

concurrency:
  group: e2e-tests-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cucumber_a:
    name: Run Tests Group A
    uses: './.github/workflows/common-e2e-tests.yml'
    with:
      name: 'a'
      image_tag: ${{ inputs.image_tag }}
      run-cmd: |
        dirs=$(find ./staff_features -mindepth 1 -maxdepth 1 -type d -iname '[a]*' | tr '\n' ' ')
        if [ -n "$dirs" ]; then
          bundle exec cucumber --strict $dirs
        fi
  cucumber_b_l:
    name: Run Tests Group B - L
    uses: './.github/workflows/common-e2e-tests.yml'
    with:
      name: 'b-l'
      image_tag: ${{ inputs.image_tag }}
      run-cmd: |
        dirs=$(find ./staff_features -mindepth 1 -maxdepth 1 -type d -iname '[b-l]*' | tr '\n' ' ')
        if [ -n "$dirs" ]; then
          bundle exec cucumber --strict $dirs
        fi
  cucumber_m_r:
    name: Run Tests Group M - R
    uses: './.github/workflows/common-e2e-tests.yml'
    with:
      name: 'm-r'
      image_tag: ${{ inputs.image_tag }}
      run-cmd: |
        dirs=$(find ./staff_features -mindepth 1 -maxdepth 1 -type d -iname '[m-r]*' | tr '\n' ' ')
        if [ -n "$dirs" ]; then
          bundle exec cucumber --strict $dirs
        fi
  cucumber_s_z:
    name: Run Tests Group S - Z
    uses: './.github/workflows/common-e2e-tests.yml'
    with:
      name: 's-z'
      image_tag: ${{ inputs.image_tag }}
      run-cmd: |
        dirs=$(find ./staff_features -mindepth 1 -maxdepth 1 -type d -iname '[s-z]*' | tr '\n' ' ')
        if [ -n "$dirs" ]; then
          bundle exec cucumber --strict $dirs
        fi
