name: Frontend Testing

on:
  workflow_dispatch:
    inputs:
      java-version:
        description: Java version to run specs on
        required: true
        type: choice
        options:
          - '8'
          - '11'
        default: '11'

  workflow_call:
    inputs:
      java-version:
        description: Java version to run specs on
        required: true
        type: string
        default: '11'

  pull_request:
    paths:
      - '.github/workflows/frontend.yml'
      - 'frontend/**'
      - 'common/**'
      - 'solr/**'

jobs:
  frontend_part_a:
    name: part_a_Java_v${{ inputs.java-version || 11 }} # https://archivesspace.atlassian.net/browse/ANW-2022
    uses: ./.github/workflows/common-frontend.yml
    secrets: inherit
    with:
      run-cmd: |
        ./build/run frontend:test -Dpattern="spec/features/[a-c]*_spec.rb"
      name: part_a
      java-version: ${{ inputs.java-version || 11 }}

  frontend_part_b:
    name: part_b_Java_v${{ inputs.java-version || 11 }}
    uses: ./.github/workflows/common-frontend.yml
    secrets: inherit
    with:
      run-cmd: |
        ./build/run frontend:test -Dpattern="spec/features/[d-l]*_spec.rb"
      name: part_b
      java-version: ${{ inputs.java-version || 11 }}

  frontend_part_c:
    name: part_c_Java_v${{ inputs.java-version || 11 }}
    uses: ./.github/workflows/common-frontend.yml
    secrets: inherit
    with:
      run-cmd: |
        ./build/run frontend:test -Dpattern="spec/features/[m-r]*_spec.rb"
      name: part_c
      java-version: ${{ inputs.java-version || 11 }}

  frontend_part_d:
    name: part_d_Java_v${{ inputs.java-version || 11 }}
    uses: ./.github/workflows/common-frontend.yml
    secrets: inherit
    with:
      run-cmd: |
        ./build/run frontend:test -Dpattern="spec/features/[s-z]*_spec.rb"
      name: part_d
      java-version: ${{ inputs.java-version || 11 }}
