name: Validate and auto-correct locale files
permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      java-version:
        description: Java version to run on
        required: true
        type: choice
        options:
          - '11'
          - '17'
        default: '17'

  pull_request:
    branches:
      - '**'
    paths:
      - 'common/locales/**/*'
      - 'public/config/locales/**/*'
      - 'frontend/config/locales/**/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  fix-locales:
    name: fix_locales
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version || 17  }} # https://github.com/actions/runner/issues/2372
          distribution: temurin
      - name: Download JRuby
        shell: bash
        run: |
          ./build/run bootstrap-jruby
      - name: Install root Gemfile gems
        shell: bash
        run: |
          ./build/run bundler -Dexcluded-gem-groups="development doc" -Dgemfile="../Gemfile"

      - name: Validate locale YAML files
        run: ./build/run rake -Dtask=locales:validate_yaml

      - name: Auto correct locale YAML files
        run: ./build/run rake -Dtask=locales:fix_variables

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: 'Auto-correct locale YAML variables'
          title: 'Auto-correct locale YAML variables'
          body: |
            This PR was automatically generated by the locale auto-correction workflow.
          branch: ${{ github.event.pull_request.head.ref || github.ref_name }}-auto-fix-locales
          base: ${{ github.event.pull_request.head.ref || github.ref_name }}
          delete-branch: true


