name: Public Testing

on:
  workflow_dispatch:
    inputs:
      java-version:
        description: Java version to run specs on
        required: true
        type: choice
        options:
          - '11'
          - '17'
        default: '11'
      browser:
        description: Which browser to use
        required: true
        type: choice
        options:
          - 'chrome'
          - 'firefox'
        default: 'firefox'

  workflow_call:
    inputs:
      java-version:
        description: Java version to run specs on
        required: true
        type: string
        default: '11'
      browser:
        description: Which browser to use
        required: true
        type: string
        default: 'firefox'

  pull_request:
    paths:
      - '.github/workflows/public.yml'
      - 'public/**'
      - 'common/**'
      - 'solr/**'
      - 'indexer/**'

jobs:
  public:
    name: Public_Java_v${{ inputs.java-version || 11 }} # https://archivesspace.atlassian.net/browse/ANW-2022
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    services:
      db:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: archivesspace
          MYSQL_USER: as
          MYSQL_PASSWORD: as123
        ports:
          - 3307:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      solr:
        image: solr:9.4.1
        env:
          SOLR_MODULES: analysis-extras
        ports:
          - 8984:8983

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: ${{ inputs.java-version || 11 }} # https://github.com/actions/runner/issues/2372
        distribution: temurin

    - uses: './.github/actions/bootstrap'
      with:
        backend: true
        public: true
        indexer: true

    - name: Copy solr config from workspace to solr service
      env:
        SOLR_ID: ${{ job.services.solr.id }}
      run: |
        docker cp ./solr $SOLR_ID:/solr_conf_from_repo

    - name: Create ArchivesSpace Solr core
      env:
        SOLR_ID: ${{ job.services.solr.id }}
      run: |
        docker exec --tty $SOLR_ID solr create_core -p 8983 -c archivesspace -d /solr_conf_from_repo

    - name: Run Public tests
      run: |
        ./build/run public:test
      env:
        SELENIUM_CHROME: ${{ inputs.browser == 'chrome' }}
        ARCHIVESSPACE_VERSION: ${{ github.ref }}
        RSPEC_RETRIES: 2

    - name: Upload the ci logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: ci_logs
        path: ci_logs/*
