<ul class="classifications_list">
  <% classifications.each do |c| %>
    <li>
      <% c.fetch('breadcrumb').each_with_index do |crumb, index| %>
        <% crumb_uri = crumb.fetch(:uri)
           crumb_uri = c.fetch('uri') if crumb_uri.blank? %>
        <%= link_to crumb.fetch(:crumb), app_prefix(crumb_uri) %>
        <%= t('context_delimiter') unless index == c.fetch('breadcrumb').length - 1 %>
      <% end %>
    </li>
  <% end %>
</ul>
