
   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
	 <a class="accordion-toggle" data-toggle="collapse"  href="#<%= p_id %>">
           <%= p_title %>
	 </a>
       </h4>
     </div>
     <div id="<%= p_id %>" class="panel-collapse collapse note_panel in">
       <div class="panel-body">
	 <%= p_body %>
       </div>
     </div>
   </div>

