<div id="auth-check">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden"><%= t('resource.load_records.loading') %></span>
      </div>

      <p class="mt-3"><%= t('actions.authenticating') %></p>
    </div>
  </div>
</div>
