<% if defined?(@context) && !@context.blank? %>
<div class="clear">
    <nav aria-label="hierarchical navigation">
      <ul class="breadcrumb">
	<% @context.each do |bread| %>
	<% if bread[:crumb] %>
	<li><% if bread[:uri].blank? %><%= process_mixed_content(bread[:crumb]).html_safe %>
	  <% else %> <a href='<%=app_prefix(bread[:uri]) %>'><%=  process_mixed_content(bread[:crumb]).html_safe %></a>
	  <% end %>
	</li>
	<% end %>
	<% end %>
      </ul>
    </nav>
</div>
<% end %>
