<%# expects 'rep_fv' as a file_version hash %>

<% unless rep_fv.blank? %>
<div class="images">
  <div class="objectimage">
    <div class="panel panel-default">
      <%= render partial: 'shared/representative_file_version', locals: {:uri => rep_fv['file_uri'], :caption => rep_fv['caption']} %>
    </div>
  </div>
</div>
<% end %>
