<% unless rep_file_uri.blank? %>
<div class="images">
  <div class="objectimage">
    <div class="panel panel-default">
      <%= render partial: 'shared/representative_file_version', locals: {:uri => rep_file_uri, :caption => rep_file_caption} %>
    </div>
  </div>
</div>
<% end %>
