<div class="panel-footer">
  <div>
    <a id="aspace-logo" href="http://www.archivesspace.org" target="aspace" title="ArchivesSpace, the Open Source archives information management application">
      <img src="/img/Aspace-logo.png" alt="The ArchivesSpace Logo" /></a>
  </div>
</div>