<% if IIIF.enabled? %>
  <div class="iiif-embed">
    <%= content_tag(:iframe, nil, {
      :src => IIIF.viewer_url(result.resolved_repository.fetch('repo_code'), result.iiif_manifest.fetch('file_uri')),
      :class => 'universal-viewer-iframe',
      :allow => 'fullscreen',
    }) %>
  </div>
<% end %>