<div
  id="infinite-tree-container"
  class="infinite-tree-view largetree-container"
  data-waypoint-size="<%= Rails.configuration.infinite_tree_waypoint_size %>"
  data-resource-uri="<%= @result['uri'] %>"
>
</div>

<%# The <template>s below get appended to #infinite-tree-container via InfiniteTree.js %>

<template id="infinite-tree-root-row-template">
  <div id="" class="table-row root-row" role="listitem" data-uri="">
    <div class="table-cell title" title="">
      <a class="record-title" href=""></a>
    </div>
  </div>
</template>

<template id="infinite-tree-node-row-template">
  <div id="" class="table-row largetree-node" role="listitem" data-uri="">
    <div class="table-cell title" title="">
      <span class="indentor">
        <button class="expandme" aria-expanded="false">
          <i class="expandme-icon fa fa-chevron-right"></i>
          <span class="sr-only"></span>
        </button>
      </span>
      <a class="record-title" href=""></a>
    </div>
  </div>
</template>
