<div
  id="infinite-tree-container"
  class="infinite-tree-view largetree-container"
  data-resource-uri="<%= @result['uri'] %>"
>
</div>

<%# The <template>s below get appended to #infinite-tree-container via InfiniteTree.js %>

<template id="infinite-tree-root-template">
  <ol class="infinite-tree" role="tree">
    <li class="root node" role="treeitem" id data-uri aria-expanded>
      <div class="node-content" title>
        <div class="title-container">
          <a class="title" href></a>
        </div>
      </div>
      <%# The root's <ol> of children will be inserted here by JS %>
    </li>
  </ol>
</template>

<template id="infinite-tree-node-template">
  <li class="node" role="treeitem" id data-uri>
    <div class="node-content" title>
      <div class="title-container">
        <span class="indentor">
          <button class="expandme">
            <i class="expandme-icon fa fa-chevron-right"></i>
            <%# <i class="expandme-icon glyphicon glyphicon-chevron-right"></i> %>
            <span class="sr-only"></span>
          </button>
        </span>
        <a class="title" href></a>
      </div>
    </div>
    <%# The node's <ol> of children will be inserted here by JS when expanded %>
  </li>
</template>

<template id="infinite-tree-children-list-template">
  <ol
    class="children"
    role="group"
    data-parent-id
    data-tree-level
    data-total-child-batches
  >
    <%# Child nodes will be inserted here by JS %>
  </ol>
</template>

<template id="infinite-tree-children-batch-placeholder-template">
  <li data-batch-placeholder style="display:none"></li>
</template>
