<div class="skipnav">
  <%= link_to I18n.t('skipnav.main_content'), '#maincontent', :class => 'sr-only sr-only-focusable' %>
  <% unless action_name == 'inventory' || (action_name == 'show' && controller_name != 'repositories') %>
    <% if defined?(@search) %>
      <% if defined?(@results) %>
        <% unless defined?(@no_statement) %>
          <%= link_to I18n.t('skipnav.search'), '#toggleRefineSearch', :class => 'sr-only sr-only-focusable' %>
        <% end %>
        <%= link_to I18n.t('skipnav.search_results'), '#searchresults', :class => 'sr-only sr-only-focusable' %>
      <% else %>
        <%= link_to I18n.t('skipnav.search'), '#search', :class => 'sr-only sr-only-focusable' %>
      <% end %>
    <% end %>
  <% end %>
</div>
