<div class="skipnav">
  <%= link_to I18n.t('skipnav.main_content'), '#maincontent', :class => 'sr-only sr-only-focusable' %>

  <% if defined?(@search) && !defined?(@results) %>
    <%= link_to I18n.t('skipnav.search'), '#search', :class => 'sr-only sr-only-focusable' %>
  <% elsif defined?(@search) && !defined?(@no_statement) %>
    <%= link_to I18n.t('skipnav.search'), '#toggleRefineSearch', :class => 'sr-only sr-only-focusable' %>
  <% end %>
  <% if defined?(@search) && defined?(@results) %>
    <%= link_to I18n.t('skipnav.search_results'), '#searchresults', :class => 'sr-only sr-only-focusable' %>
  <% end %>
</div>