<% if AppConfig[:pui_enable_staff_link] %>
    <a id="staff-link" href="#" class="btn btn-default page_action staff d-none" target="_blank">
        <i class="fa fa-pencil fa-3x"></i>
        <br/>
        <%= t('actions.staff_link') %>
    </a>
<% end %>
